{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/yolmux.jpg" %}">
                </div>
                <div class="right">
                    <p>Yo’l muxandisligi» kafedrasi mudiri</p>
                    <p><b> G’aniev Inomjon G’ulomovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning Dushanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> (+99897) 702-74-04</p>
                    <p><a href=" ganiev.inomjon@gmail.com" class="poshta" ><b> E-mail: </b> ganiev.inomjon@gmail.com</a> </p>
                </div>
            </div>
            <p>
                
               <br><b>&nbsp;&nbsp; Yo’l muxandisligi  kafedrasi tarixi</b><br>
               
               “Yо‘l muhandisligi” kafedrasi Jizzax politexnika instituti “Bino va inshootlar qurilishi” kafedrasi negizida 2008-yil 5340600 – “Transport inshootlari ekspluatatsiyasi” yо‘nalishi ochilishi munosabati 2010-yil sentabr oyidan boshlab “Avtomobil yо‘llari va harakat xavfsizligi” nomi bilan alohida kafedra sifatida faoliyatini boshlagan. Bunda marhum texnika fanlari doktori, professor Toyir Muqumov va texnika fanlari nomzodi, professor In’omjon Ganiyevning ilmiy salohiyati va qurilish materiallarini sinash akkredititsiyalashgan laboratoriyasi hisobga olingan.
2012-2013 о‘quv yilida О‘zbekiston Respublikasi Vazirlar Mahkamasining qarori bilan kafedra nomi “Avtomobil yо‘llari” deb о‘zgartirildi. Kafedrani turli yillarda dotsentlar O.Adilov, A.Berdiqulov, R.Hamroqulov va SH.Erboyevlar boshqarishgan.
Kafedrani 2017-2018 yillarda hamda 2020-yil 10-avgustdan boshlab kafedra nomi “Yо‘l muhandisligi” deb о‘zgartirildi, hamda In’omjon Ganiyev mudir sifatida boshqarib kelmoqda.
Bugungi kunda kafedrada 60730800-Yо‘l muhandisligi bakalavriat ta’lim yо‘nalishi va 70730802 - Transport inshootlarining ekspluatatsiyasi (kо‘priklar va tonnellar) va 70730803 - Avtomobil yо‘llari va aerodromlar (umumiy foydalanishdagi avtomobil yо‘llari va aerodromlar bо‘yicha) magistratura mutaxassisliklari bо‘yicha talabalar tahsil olishmoqda.
Hozirgi kunda kafedrada 23 nafar professor-о‘qituvchi faoliyat kо‘rsatmoqda. Dars mashg‘ulotlariga respublikamizning yetuk olimlari: Toshkent davlat transport universitetidan  - DSc professorlar Ulug‘bek Shermuxamedov va Said Shoumarov, PhD dotsentlar Nodira Saatova va Sanjar Kandaxarovlar jalb qilingan.
Ishlab chiqarishning yetuk mutaxassislari: О‘zbekistonda xizmat kо‘rsatgan yoshlar murabbiysi faxriy unvoni sohibi Parda Shukurov (2023-yil) va Jizzax politexnika instituti huzuridagi “Qurilish materiallarini sinash laboratoriyasi” boshlig‘i,  “Oliy ta’lim a’lochisi” (2023-yil) Xolmeli Karakulov, Jizzax avtomobil yо‘llari boshqarmasi yetakchi mutaxassisi Axad Mо‘minov hamda “Jizzax akkumulyator zavodi” AJ bozor konyukturasi va istiqbolli rivojlanishni о‘rganish bо‘limi yetakchi mutaxassisi Shoxrux Abdulaxatovlar ham talabalarga dars mashg‘ulotlarini olib borishyapti.
Kafedraning yosh olimlari Doston G‘ulomov va Zafar Oqilovlar - "Geotexnika (Kо‘priklar, transport tonnellari va metropolitenlar) ixtisosliga bо‘yicha Toshkent davlat transport universiteti  doktoranturasida ilmiy-tadqiqot ishlarini olib borishyabdi.
Yosh olim Zuxriddin Muradov 2021-yildan boshlab О‘zbekiston Respublikasi innovatsion rivojlanish vazirligi huzuridagi “Yoshlar akademiyasi” a’zosi. U 2020-yilda “Eng yaxshi 20 ta startap” loyihalar tanlovi g‘olibi.
Kafedraning iqtidorli talabasi Kamola Irisqulova (Ilmiy rahbari professor In’omjon Ganiyev) Beruniy nomidagi davlat stipendiyasining 2023-yilgi, hamda 2024-yilgi Zulfiya nomidagi davlat mukofoti sohibasi hisoblanadi.
Professor In’omjon Ganiyev ilmiy rahbarligida O‘zbekiston Respublikasi Prezidentining 2022-yil 6-iyulidaga “2022-2026-yillarda O‘zbekiston Respublikasining innovatsion rivojlanish strategiyasini amalga oshirish bo‘yicha tashkiliy chora-tadbarlar to‘g‘risida”gi PQ-307-sonli qaroridagi 1 mlrd 900 mln so‘mlik “Transport inshootlari uchun 120 yilga mo‘ljallangan kimyoviy bo‘yoq olish texnologiyasini yaratish” mavzusidagi loyiha amalga oshirilmoqda.
Jizzax politexnika instituti “Yo‘l muhandisligi” kafedrasi va Yevropa rivojlanish va taraqqiyot banki homiyligida “PROYAPI MUHANDISLIK VA MUSAVVIRLIK” xorijiy korxonasi o‘rtasida tuzilgan shartnomaga asosan kafedra olimlari va talabalar “Halqaro M-39 avtomobil yo‘lida monitoring o‘tkazish va pullik avtomobil yo‘lining texnik-iqtisodiy jihatlarini asoslash” mavzusidagi loyihada ishtirok etishayapti.
“Yo‘l muhandisligi” kafedrasi mutaxassis chiqaruvchi kafedra hisoblanib hozirgi kunda 23 nafar professor-o‘qituvchidan 13 nafari (57%) xorijiy tilni bilish to‘g‘risidagi sertifikatga ega.
O‘zbekiston Respublikasi oliy ta’lim, fan va innovatsiyalar vazirligining Islom taraqqiyot banki ishtirokidagi “Oliy ta’lim muassasalari moddiy-texnik bazasini mustahkamlash” loyihasi doirasida 416840666 so‘mlik 7 nomdagi va 218639,65 AQSH dollarilik 15 nomdagi “Yo‘l qurilish materiallari” zamonaviy laboratoriya uskunalari olib kelindi, laboratoriya qamrovi kengaytirildi.

                <br><b>&nbsp;&nbsp; Erishilgan ilmiy natijalar:</b><br>
                Jizzax politexnika instituti mustaqil izlanuvchisi Ganiyev In’omjon Gulomovichning 05.09.02 - Geotexnika (ko‘priklar, transport tonnellari va metropolitenlar) ixtisosligi bo‘yicha texnika fanlari bo‘yicha fan doktori “DSc” ilmiy darajasini olish uchun taqdim etilgan “Temirbeton ko‘priklar profilaktik monitoringining uslubiy asoslarini ishlab chiqish” mavzusidagi dissertatsiya ishi ilmiy natijalarini “Jizzax temir yo‘l masofasi” tashkiloti, “Jizzax viloyati Sharof Rashidov tuman yo‘llardan foydalanish” davlat muassasida hamda “O‘ZYO‘LKO‘PRIKKLASTERNING JIZZAX FILIALI” davlat muassasasi korxonalarida joriy etish natijasida quyidagilarga erishilgan:
-	taklif etilgan “Ko‘priklarni profilaktik monitoring tizimi” kompyuter dasturi shaklida taqdim etilgan ko‘priklarni profilaktik monitoring qilish tizimi loyiha-texnik hujjatlarda aprobatsiya jarayonida yetarli samaradorlikni ko‘rsatdi;
-	ushbu texnologiyadan foydalanish va maqbul qarorlarni qabul qilishda ko‘prikning ish paytida ishonchliligini kafolatlash natijasida, ko‘prik konstruksiyalarining xizmat qilish muddati 19,5% ga oshgan va shunga mos ravishda inshootlarni saqlab turish xarajatlari kamaygan.
Ushbu korxonalarda ko‘priklarni profilaktik monitoring qilish tizimidan foydalanish natijasida 2 ta oraliq qurilma xizmat muddati oshirildi, shu jumladan har bir oraliq qurilma uchun 9,1 tonna armaturani tejashga imkon berdi, natijada 4 ta oraliq qurilma uchun, tejalgan mablag‘ miqdori 6225,0 mln so‘mni tashkil etgan.
Kafedra qoshida Qurilish mahsulotini sinash laboratoriyasi faoliyatini muvaffaqiyatli davom ettirmoqda. Mazkur laboratoriya davomida magistrantlar va iqtidorli talabalar ilmiy tadqiqot ishilari bo‘yicha dasturlar asosida ilmiy natijalariga ega bo‘lmoqdalar.
“Yo‘l muxandisligi” kafedrasi tomonidan olib borilayotgan ilmiy-tadqiqot faoliyati doimiy ravishda institut ilmiy va ilmiy-uslubiy kengashlari yig‘ilishlarida muhokama qilingan hamda tegishli qarorlar qabul qilingan.
2024/2025 o‘quv yilidan boshlab kafedrada 60730500-Yo‘l muhandisligi bakalavriat ta’lim yo‘nalishi va 70730502-Transport inshootlari ekspluatatsiyasi hamda 70730503-Avtomobil yo‘llari va aerodromlar mugistratura mutaxassisliklari o‘qitish yo‘lga qo‘yiladi. Yangi malaka talablari ishlab chiqildi.
Kafedrada oxirgi 3 yilda professor-o‘qituvchilar tomonidan 16 ta darslik, 23 ta o‘quv qo‘llanma yozildi. Zamonaviy nashriyotlarda chop etilib institut ARM ga qog‘oz va elektron shaklda joylashtirildi.
Kafedrada o‘qitiladigan fanlar zamonaviy pedagogik va axborot texnologiyalari asosida tashkil etilmoqda. Ma’ruza va amaliy mashg‘ulotlarda multimediya, prezentatsiya, ish o‘yinlari qo‘llanilmoqda. Ma’ruza mashg‘ulotlarining 25% dan ortig‘i muammoli tarzda tashkil etilib, ularda talabalarning faolligi ta’minlanmoqda. Buning natijasida kafedrada o‘qitiladigan fanlar bo‘yicha talabalarning o‘rtacha o‘zlashtirish ko‘rsatkichi yildan yilga ortib bormoqda. Talabalar bilimini baholashning reyting tizimiga qat’iy amal qilinmoqda. Mustaqil ta’lim uchun ajratilgan soatlar hajmida talabalar slayd, krossvord, test va ilmiy maqolalar tayyorlab o‘z reyting ballarini oshirishga erishmoqdalar.
               
            </p>
	      <div class="container">
                <div class="row">
                  <div class="col  mt-3">
                    <img src="{% static "Photos/img_kaf/yolmux.jpg" %}" class="kaf-img">
                  </div>
                  <div class="col  mt-3">
                    <img src="{% static "Photos/img_kaf/yolmux2.jpg" %}" class="kaf-img">

                  </div>
                </div>
              </div>


        </div>
    </div>
</div>



{% endblock content %}




