{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/jistar.jpg" %}">
                </div>
                <div class="right">
                    <p>Jismoniy tarbiya kafedrasi mudiri</p>
                    <p><b>Abduvaliyev Xurshid Abdulxayitovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> </p>
                    <p><b>E-mail: </b> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Jismoniy tarbiya kafedrasi</b><br>
                1977-yili Fizika  kafedrasi qoshida jismoniy tarbiya bo‘limi tashkil topdi. Bu bo‘limni Dzyu-do bo‘yicha sport ustasi X. Toymurodov boshqardi, bo‘limda uch nafar o‘qituvchi ishlagan. 
1980-1984-yillarda jismoniy tarbiya bo‘limi umumiy fanlari kafedrasiga o‘tkazildi. Unga R. Bozorov rahbarlik qildi. Bo‘limda B.Oqbo‘tayev, J.Navro‘zov, Q.Yusupov kabi ustozlar talabalarga puxta bilim berishda hissalari katta bo‘ldi. O‘sha yillari institut fillialida sport zal qurib bitkazildi va sport maydonchalar tashkil etildi. Bulardan basketbol, valebol, futbol va qo’l to’pi turlaridan.  
1984-1992-yillar jismoniy tarbiya bo‘limi R. Bozorov rahbarligida kengaydi va olti nafar o‘qituvchi-murabbiylar talabalarga ta’lim berdi.
Mustaqillikdan so‘ng 1992-yili 1-sentabrda Jismoniy tarbiya kafedrasi tashkil etildi. Dastlab ushbu kafedrani katta o‘qituvchi R.Bozorov, 1993-1995-yillar katta o‘qituvchi K. Akilov boshqardi.
	1996-yildan boshlab katta o‘qituvchi Q.Yusupov rahbarlik qildi. Talabalarni to’garaklardan tashqari, kuchli tayorgarlik ko’rib musobaqada ishtirok etishdi.  
Buxoro shahrida o‘tkazilgan “Unversiada-2002” sport musobaqalarida institutdan 51 nafar talaba sportning yengil atletika, voleybol, basketbol, qo‘lto‘pi, stol tennisi, shaxmat turlaridan viloyatimiz va institutimiz sharafini himoya qildi. E.Garafiddinova 1ta kumush, 1 ta bronza medalini qo‘lga kiritdi. 2004-2006-yillar institut talabalari mini futbol bo‘yicha O‘zbekiston birinchiligida 1-o‘rinni egallashdi va oltin medal bilan taqdirlanishdi.
 Muntazam shug’ullanish natijasida 2007-yil Y.Hamraqulova sportning shaxmat turi bo‘yicha O‘zbekiston chempioni, Osiyoning bronza medali sohibi bo‘ldi. 2008-yil “Zulfiya” nomidagi Davlat mukofoti sohibasi bo‘ldi. 2008-2010-yillar Jizzax shahrida o‘tkazilgan Bagi yo‘nalishi bo‘yicha B.Odilov O‘zbekiston chempioni bo‘ldi. Toshkent shahrida o‘tkazilgan Aremresling sport turi bo‘yicha O‘zbekiston chempionatida B.Abdug‘aniyev 1-o‘rinni egalladi. Andijon shahrida o‘tkazilgan “Universiada-2010” sport musobaqasida sportning shaxmat turi bo‘yicha Y. Hamraqulova oltin medal sohibi bo‘ldi. Suzish bo‘yicha X.Karimov bronza medalni qo‘lga kiritdi.
2016-yildan boshlab dotsent X.Abduvaliyev Jismoniy tarbiya kafedrasiga rahbarlik qilib kelmoqda. Kafedrada barcha mutaxassilik yo‘nalishlari talabalariga jismoniy tarbiya va sport fanidan 9 nafar kafedra professor-o‘qituvchilari dars mashg‘ulotlarini olib borishmoqda. Kafedrada 3 nafar dotsent, 3 nafar katta o‘qituvchi va 3 nafar assistent, 2 nafar kabinet mudiri faoliyat olib borishmoqda. 
2021-yil 19–fevraldagi Jismoniy tarbiya va sport vazirining 266-sonli buyrig’iga asossan Abduvaliyev X. A ga “Jismoniy tarbiya va sport A’lochisi” ko’krak nishoni bilan taqdirlandi.  
Institut hududida yillar mobaynida jami 8 ta sport maydonlari qurildi. Asosiy binodagi Sport zali 2017 yil qayta rekanstruksiyadan chiqib qayta jihozlandi va jahon andozalariga mos keladigan maskanga aylandi hamda Respublika, viloyat, instetut va uyushmagan yoshlar o’rtasidagi musobaqalar muntazam o’tkazilib kilenmoqda. Respublikada birinchi marotaba yoshlarimizni “Mini futbol”ga bo’lgan qiziqishini oshirish maqsadida   talabalar o’rtasida STUDENTS CUP musobaqasiga start berildi. 
Bu  musobaqada Jizzax Palitehnika Instetuti  talabalari final bosqichiga yullanmani qulga kiritdi. 
Sog‘lom muhitni yaratish borasida 15 ta sport turi bo‘yicha to‘garaklar tashkil etildi. To‘garaklarda 800 nafar yoshlar 250ga yaqin professor-o‘qituvchilar 150 nafar xotin-qizlar o‘z salomatliklarini tiklash uchun muntazam mashg‘ulotlarga qatnashib kelmoqda.Navoiy shahrida o‘tkazilgan “Universida-2019” sport musobaqasida institutdan 32 nafar talaba sportning  yengil atletika, voleybol, basketbol, qo‘lto‘pi, stol tennis, shaxmat-shashka turlaridan viloyatimiz va institutimiz sharafini himoya qildi. Gulhayo Rahmatova sportning shashka turi bo‘yicha 3-o‘rinni egallab bronza medalini qo‘lga kiritdi.
Tailandning Pattayya shahrida bo‘lib o‘tgan parakanoe bo‘yicha Osiyo chempionatida Jizzax politexnika instituti talabasi Muxlisa Eshmirzayeva Isomiddin qizi oltin medalni qoʻlga kiritdi. Ayollar o‘rtasida VL3 klassidagi bahslarda talabamiz Muxlisa Eshmirzayeva 1:05.912 natija bilan oltin medalga sazovor bo‘lib, ushbu distansiyada Hindiston, Qozog‘iston va Eron sportchilarini ortda qoldirishga erishdi. 2019-yilda Jizzax viloyati  Jizzax politexnika institut talabalari 18 ta  O‘zbekiston Respublika chempionlari bo’lishdi. 
  2022-yil Futzal bo‘yicha viloyat “Hokim kubogi” musobaqasida 74 ta jamoa ishtirok etishdi. Musobaqada institutimizning “Politexnik” terma jamoasi fahirli   1-o‘rinni egallab, oltin medalni qo‘lga kiritdi. 
“Universida-2022” sport musobaqasiga institutimiz talabalari ishtirok etish uchun, mashg’ulotlarda shug’ullanishmoqda. Mashg’ulotlarni jismoniy tarbiya kafedirasi professor o’qituvchilari tomonidan olib borilmoqda. 
               Bular Abduvaliyev X, Yusupov Q, Xodjimatov V, Qirg’izov I, Isaqobulov R, Berdanov A, Abduraximov K, Po’latov J, Soliyev F,Azimova S, Bobomurodov S, Turdiboyev I, Axmedova D lardir.  		
	Jismoniy tarbiya kafedrasi professor-oqituvchilari yangi o’quv yilida talaba yoshlarimizni har tomonlama jismonan yetuk, ruhan sog’lom, aqliy teran va yetuk shaxs etib tarbiyalashga  o’z hissalarini qo’shib kelmoqdalar. 2023-2024 o’quv yiliga kafedramizda 4 nafar dotsent 1 nafar PhD, 2 nafar katta o‘qituvchi, 4 nafar assistent o‘qituvchilar hamda 2 nafar kabenit mudiri faoliyat olib borishmoqda, shu bilan birga institutimiz hududida yangi sport maydonlari, yozgi yechinish,  yuvinish xonalari qurush rejalashatirilgan. Yangi O’zbekiston yoshlarini sog’lom bolib  o’sishida jismoniy tarbiyaning o’rni juda  muhum ahamyatga ega deb hisoblaymiz.     

            </p>
            
            
            <div class="container">
                <div class="row">
                  <div class="col  mt-3">
                    <img src="{% static "Photos/img_kaf/jis.jpg" %}" class="kaf-img">
                  </div>
                  <div class="col  mt-3">
                    <img src="{% static "Photos/img_kaf/jis2.jpg" %}" class="kaf-img">

                  </div>
                </div>
              </div>

        </div>
    </div>
</div>



{% endblock content %}




