{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/proftalim.jpg" %}">
                </div>
                <div class="right">
                    <p>Professional ta’lim kafedrasi mudiri</p>
                    <p>Pedagogika fanlari nomzodi. dotsent <b>Aliqulov Saloxiddin Turdimurodovich.</b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> +998941992475</p>
                    <p><a href="s.t.aliqulov@umail.uz" class="poshta" ><b> E-mail: </b>s.t.aliqulov@umail.uz</a> </p>  
                    
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;PROFESSIONAL TA’LIM KAFEDRASI HAQIDA MA’LUMOT</b><br>
                O‘zbekiston “Kadrlar tayyorlash milliy dasturi” qabul qilinganidan so‘ng pedagog kadrlarga extiyoj ortib ketdi. Bu birinchi navbatda kasb-hunar kollejlarining tashkil etilishi bilan bog‘liqdir. Institutda kasb ta’limi pedagog kadrlarni tayyorlashni kuchaytirish va milliy dasturda ko‘rsatilgan vazifalarni bajarishni jadallashtirish maqsadida 2000 yil 20 iyulda “Kasb ta’limi va pedagogika” kafedrasi “Avtotransport” fakulteti qoshida tashkil etildi.
Oliy va o‘rta maxsus ta’lim Vazirligi tomonidan 2015 yil 16 yanvardagi Jizzax politexnika institutining qayta tasdiqlangan strukturasini joriy etish to‘g‘risidagi qaroriga asosan institut rektorining 2015 yil 6 maydagi №133-AF buyrug‘i ishlab chiqildi, hamda “Kasb talimi va pedagogika” kafedraning nomi mos ravishda quyidagicha almastirildi, “Kasb ta’limi” kafedrasi deb qayta nomlandi. 
Kafedraga 2000-2007 yillar texnika fanlari nomzodi, dotsent Rabbimov Muzrob To‘xtaevich, 2008 yil mart oyidan 2010 yil mart oyigacha dotsent Hamidov Jalil Abdurasulovich, 2010 yil aprel oyidan 2012 yilgacha p.f.n. Alimov Normurod Nosirovich, 2012 yildan 2013 yil sentabr oyigacha dotsent Hamidov Jalil Abdurasulovich, 2013 yil sentabr oyidan p.f.n., dotsent Aliqulov Saloxiddin Turdimurodovich kafedrani boshqarib kelmoqda. 
O‘zbekiston Respublikasi Prezidentining 2019 yil 6 sentabrdagi PF-5812-son farmoniga muvofiq 2020 -2021 o‘quv yilidan kafedra nomini “Professional ta’lim” deb yuritila boshlandi.  
Hozirgi kunda kafedrada kafedra mudiri p.f.n., dos. S.T. Aliqulov, p.f.d. professor J.A.Hamidov, p.f.b.f.d., dotsent J.R.Turmatov, p.f.b.f.d, dotsent U.M. Yarlakabov, dotsent O.A.Hamidov, p.f.b.f.d.A.A.Mustafaqulov, p.f.b.f.d.S.S.Aliqulov, p.f.b.f.d.O.E.Azizov  psix.f.b.f.d.O.X.Rajabov  katta o‘qituvchi  A.M.Turabov, assistent A.Axboev va katta laborant Sh.M.Irmatova, kabinet mudiri H.Z.Turdimurodovlar faoliyat ko‘rsatmoqda. 
2023-2024 o‘quv yilida kafedraning ilmiy salohiyati 88%dan oshdi, professor-o‘qituvchilari tomonidan hozirgi vaqtgacha 4 ta darslik, 6 ta o‘quv qo‘llanma,  9 ta monografiya, 24 ta mualliflik guvoxnomalari, 79 ta uslubiy qo‘llanmalar, 400 dan ortiq ilmiy maqolalar chop ettirilgan.

            </p>

        </div>
    </div>
</div>



{% endblock content %}




