{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/eko.jpg" %}">
                </div>
                <div class="right">
                    <p>Ekologiya va atrof muhit muxofazasi kafedra mudiri</p>
                    <p><b>Qiryigitov Xurshid Botirovich</b></p>
                    <p><b>Qabul vaqti:</b> Shanba 10:00 – 12:00</p>
                    <p><b>Telefon:</b>  906438147 </p>
                    <p><b>E-mail: </b> qiryigitovxurshid@gmail.com</p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;EKOLOGIYA VA ATROF MUHIT MUHOFAZASI KAFEDRASI TARIXI </b><br>

                2001 o‘quv yildan boshlab “Mehnat va atrof muhit muhofazasi” kafedrasi qoshida “Muxandislik komunikatsiya qurilishi” va “Ekologiya va tabiatdan foydalanish” mutaxassisliklariga talabalar qabul qilina boshlandi va 2005 yilda birinchi marta  bu mutaxassisliklar bo‘yicha talabalar bitirib chiqishdi.

                “Ekologiya va atrof muhit muhofazasi”  kafedrasi 2012 yil iyul oyidan boshlab yangi kafedra sifatida faoliyat ko‘rsata boshladi.
                
                2012 yildan boshlab kafedra bazasida 5630100- Ekologiya va atrof muhit muhofazasi,
                
                2019 yildan boshlab 5640200-Mehnat muhofazasi va texnika xavfsizligi mutaxassisligi bo‘yicha malakali kadrlar tayyorlash yo‘lga qo‘yildi.
                
                Kafedrani 2020 yildan boshlab Qiryigitov X. boshqarib kelmoqda.
                <br><b>&nbsp;&nbsp; BAKALAVRIAT  YO‘NALISHI. </b><br>
                Kafedrada  <br>60710400–“Ekologiya va atrof-muhit muhofazasi”</b> yo‘nalishi bo‘yicha bakalavriat mutaxassislarini tayyorlaydi. 
Yo‘nalish – O‘zbekiston uzluksiz ta’lim Davlat ta’lim standartlari, oliy ta’limning Davlat ta’lim standarti, oliy ta’lim yo‘nalishlar va mutaxassislklari klassisfikatoriga kiritilgan. Ta’limning kunduzgi o‘qish shaklida muddati – 4 yil.
Akademik daraja – “Bakalavr”

<b>60710400-Ekologiya va atrof-muhit muhofazasi</b> (sanoatda) ta`lim yo‘nalishi bo‘yicha talabalar faoliyat olib boradigan obyektlar
-Ekologiya, atrof-muhitni muhofaza qilish iqlim o ‘zgarishi vazirligi barcha tarmoq korxonalari
-atmosfera havosini chang va zaharli gazlardan tozalash, oqava suvlarni tozalash; ichimlik suvini tozalash ichimlik suvini tayyorlash jarayonlari va qurilmalari; qattiq chiqindilarni qayta ishlash obyektlari;
-atrof-muhitni muhofaza qilish tizimlarini loyihalash tashkilotlari;
-sanoat va ishlab chiqarish korxonalari.
-professional ta`lim muassasalari.
-atrof-muhitni muhofaza qilish tizimida ishlatiladigan jihozlar va ularning konstruksiyalarini montaj qilish va sozlash korxonalari;
-atrof-muhitni ifloslantiiruvchi manbalarni inventarizatsiya qilish tashkilotlari.

<b>61020200- Mehnat muhofazasi va texnika xavfsizligi (tarmoqlar bo‘yicha)</b> ta’lim yo‘nalishi bo‘yicha bakalavrlar tayyorlash kunduzgi, kechki, sirtqi va masofaviy ta’lim shakllarida amalga oshiriladi. Barcha ta’lim shakllari bo‘yicha o‘qitish kredit-modul tizimi asosida tashkil qilinadi. Kunduzgi ta’limda bakalavriat dasturining me’yoriy muddati 4 yil, kechki ta’lim shaklida 4.5, sirtqi va masofaviy ta’lim shakllarida 5 yil etib belgilangan.
Akademik daraja – “Bakalavr”
<b>	61020200- Mehnat muhofazasi va texnika xavfsizligi (tarmoqlar bo‘yicha)</b> ta’lim yo‘nalishi – fan va texnika sohasidagi yo‘nalish bo‘lib, u mehnat jarayonida insonning xavfsizligini, hayoti va sog‘lig‘i, ish qobiliyati saqlanishini ta’minlashga doir huquqiy, ijtimoiy-iqtisodiy, tashkiliy, texnikaviy, sanitariya-gigiena, davolash-profilaktika, reabilitatsiya tadbirlari hamda vositalari tizimini ishlab chiqish, amaliyotga tadbiq qilish, nazorat qilish va ulardan foydalanishga, soha istiqbolini belgilashga, kasbiy ko‘nikma, mutasaddilik qobiliyatiga yo‘naltirilgan inson faoliyatining vositalari, usullari, metodlari va uslublarining majmuasini qamrab oladi.
<b>61020200- Mehnat muhofazasi va texnika xavfsizligi (tarmoqlar bo‘yicha)</b> ta’lim yo‘nalishi bo‘yicha bakalavrlar kasbiy faoliyatlarining obyektlari: 
	- O‘zbekiston Respublikasi Kambag‘allikni qisqartirish va bandlik vazirligi, Favqulodda vaziyatlar vazirligi tuzilmalari va markazlari, shuningdek hayot faoliyati xavfsizligi o‘quv markazlari;
- davlat va nodavlat tashkilot, korxona va muassasalar, kompaniyalar (firmalar), ishlab chiqarish birlashmalarida;
- davlat boshqaruvi organlarida, mulkchilik shaklidan qat’i nazar turli xil shakldagi mulk, sanoat va biznes tashkilotlarida;
- sanoat va ishlab chiqarish korxonalari;
- professional ta’lim muassasalari;
- mehnatni muhofaza qilish tizimida ishlatiladigan jihozlar va ularning konstruksiyalarini montaj qilish va sozlash korxonalari;
- ilmiy va ishlab chiqarish faoliyatini texnikaviy ta’minlash vositalari; professional ta’lim muassasalaridagi o‘quv-tarbiya jarayon
<br><b>&nbsp;&nbsp; KAFEDRADA OLIB BORILAYOTGAN ILMIY ISHLAR </b><br>
Kafedrada 2022-2024-yillar davomida professor-o‘qituvchi M.Xolqo‘ziyeva biologiya fanlari bo‘yicha falsafa doktori (PhD), A.Taylakov texnika fanlari bo‘yicha falsafa doktori (PhD), Z.Bobomurodov biologiya fanlari bo‘yicha falsafa doktori (PhD), G‘.Karayev qishloq xo‘jaligi fanlari bo‘yicha falsafa doktori (PhD), N.Achilova biologiya fanlari bo‘yicha falsafa doktori (PhD) ilmiy darajalarini olishdi. Bundan tashqari I.To‘ynazarova, B.Xolmatov, D.Berdiyevalar ham 2024-yili yakuniga qadar ilmiy ishini yakunlab dissertatsiya himoyasini o‘tkazishi rejalashtirilgan.
Bundan tashqari, 2023-2024 o‘quv yilida kafedramiz professor-o‘qituvchilari X.Qiryigitov, M.Xolqo ‘ziyeva, N.Achilova  Dotsent ilmiy unvonini olishdi.
  Kafedrada 2023-2024  yillarda 7 ta darslik, 6 ta o‘quv qo‘llanma, 8 ta monografiya professor-o ‘qituvchilar tomonidan chop etildi. 
Kafedra talabasi  Odilov Sarvar Akromovich “Beruniy” nomli stependiya sohibi bo‘ldi, 2020-yil ikki nafar talaba Usmonova Bahora Komiljon qizi “Ekologiya va atrof-muhit muhofazasi” fanidan fahrli III- o‘rin, Abdug‘afforov Muzaffar Abduhalil o‘g‘li  “Sanoat chiqindilarini tozalash”  fanlaridan Respublika fan olimpiadasida fahrli III- o‘rin sohibi bo‘lishdi.    
Talabalarning bo‘sh vaqtini mazmunli o‘tkazish maqsadida kafedrada “Yosh ekologlar” ilmiy-ijodiy to‘garagi tashkil etilgan bo‘lib, bunda 24 nafar iqtidorli talabalar qatnashib kelmoqda.



            </p>

        </div>
    </div>
</div>



{% endblock content %}




