{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/umumtex.jpg" %}">
                </div>
                <div class="right">
                    <p>Umumtexnika fanlari kafedrasi mudiri</p>
                    <p><b>Butayev Ruslan Buriboyevich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning Seshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> (99) 588-13-83</p>
                    <p><a href="butayevruslan83@gmail.com" class="poshta" ><b> E-mail: </b> butayevruslan83@gmail.com</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp; UMUMTEXNIKA FANLARI kafedrasi tarixi</b><br>
                1977 yil Toshkent Politexnika instituti qoshida Umutexnika fanlari fakulteti va shu fakultet tasarrufida “Umumtexnika va umumta‘lim fanlari” kafedrasi tashkil etilgan va kafedraga texnika fanlari nomzodi, dotsent Mahkam Soatov mudir etib tayinlandi.
1978 yil ToshPI ning Jizzax filiali tashkil etilgandan keyin “Umumtexnika fanlari” kafedrasidan “Texnik mexanika” kafedrasi ajralib chiqdi va kafedraga texnika fanlari nomzodi, dotsent Meli Hazratqulov mudir etib tayinlandi.
1992 yil Jizzax politexnika instituti tashkil etilishi munosabati bilan “Texnik mexanika” kafedrasi “Nazariy va amaliy mexanika” kafedrasiga aylantirildi va kafedra mudiri lavozimiga texnika fanlari nomzodi, dotsent Xalmurat Xaydarovich Igamberdiyev tayinlandi.
Institutda talabalar sonining va kafedrada o‘qitiladigan fanlarning oshishi tufayli turli yillarda kafedra “Yengil sanoat texnologiyalari va mexanika” kafedrasi (kaf. mud. t.f.n., dots. X.X.Igamberdiyev), “Mexanika” kafedrasi” (kaf. mud. f.–m.f.n., dots. A.Sh.Berdiyorov), “Umummuhandislik fanlari” kafedrasi (kaf. mud. t.f.n., dots. M.H.Raxmatullayev), “Umummuhandislik fanlari va qishloq xo‘jaligini mexanizatsiyalashtirish” kafedrasi (kaf. mud. t.f.n., dots. G‘.G‘.Egamnazarov), “Umummuhandislik fanlari, metrologiya va standartlashtirish” kafedrasi” (kaf. mud. t.f.n., dots. X.X.Igamberdiyev), “Umumtexnika fanlari” kafedrasi (kaf. mud. f.–m.f.n., dots. A.X.Zokirov), “Umumtexnika fanlari” kafedrasi (kaf. mud. i.f.n., dots. М.А.Aynaqulov), “Umumtexnika fanlari” kafedrasi (kaf. mud. p.f.f.d., dots. J.R.Turmatov) nomlari bilan faoliyat yuritgan. Hozirgi kunda kafedra “Umumtexnika fanlari” nomi bilan yuritiladi va unga f-m.f.f.d(PhD) R.B.Butayev mudirlik qilib kelmoqda.
Hozirgi kunda kafedrada 18 ta professor-o‘qituvchilar faoliyat ko‘rsatib kelmoqda. Jumladan, 2 nafar fan doktori, professor, 7 nafar fan nomzodi, dotsentlar, 2 nafar katta o‘qituvchi, 7 nafar assistentlar. Kafedra jamoasi oldiga yetuk kadrlar tayyorlashda o‘quv uslubiy, ilmiy-tadqiqot ishlari olib borish kabi vazifalar belgilab berilgan.
Kafedrada “Nazariy mexanika”, “Materiallar qarshiligi”, “Texnik mexanika”, “Amaliy mexanika”, “Mexanika”, “Qurilish mexanikasi”, “Materialshunoslik va KMT”, “Mashina va mexanizmlar nazariyasi”,  “Mashina detallari” kabi fanlar o‘tiladi. O‘tiladigan barcha fanlardan o‘quv jarayoniga mos holda o‘quv-uslubiy materiallar tayyorlangan. 

            <br><b>&nbsp;&nbsp;Kafedraning Davlat ilmiy-texnik dasturlari doirasida bajarilayotgan ilmiy-tadqiqot ishlari natijalari</b><br>
            Umumtexnika fanlari” kafedrasida 2020-2021, 2021-2022, 2022-2023 o‘quv yillarida kafedrada amaliy texnik dasturlar asosida ilmiy-tadqiqot ishlari  quyidagi yo‘nalishlar bo‘yicha ishlar olib borilmoqda:
“Tuproqqa ishlov beruvchi kultivatorlarning ishchi organlarini yuqori resursli yangi turlarini yaratish va parametrlarini asoslash” mavzusidagi ilmiy ishlar majmuini Dalat granti tenderlarida qatnashish rejalashtirilgan. 
Ushbu mavzu bo‘yicha 2 ta foydali model O‘zbekiston Respublikasi Adliya vazirligi qoshidagi intellektual mulk agentligiga topshirildi va ijobiy qaror olindi.
Foydali model nomi: “Tuproqqa ishlov beruvchi aylanma ishchi organ” FAP 2022 0017 raqamli.
Mualliflar: Nuriev Karim Katibovich, Nuriev Mansur Karim o‘g‘li, Quvondiqov Yoqub Tursunbaevich, Qobilov Bekzod O‘ktam o‘g‘li.
Foydali model nomi: “Tuproqqa ishlov beruvchi yig‘ma ishchi organ” nomli FAP 2022 0018 raqamli.
Mualliflar: Nuriev Karim Katibovich, Nuriev Mansur Karim o‘g‘li, Turmatov Jaloliddin Raxmatullaevich, Quvondiqov Yoqub Tursunbaevich, Qobilov Bekzod O‘ktam o‘g‘li.
 
 
Fanning ta’lim va  ishlab chiqarish bilan integratsiyasi
Kafedra  Respublikamizning bir qator oliy va ilmiy-tadqiqot muassasalari bilan mustahkam aloqa o‘rnatgan bo‘lib, ular jumlasiga: Qishloq xo‘jaligini mexanizatsiyalash ilmiy-tadqiqot instituti, O‘zbekiston Milliy universiteti, Toshkent Davlat Texnika Universiteti, Toshkent Arxitektura qurilish instituti, Toshkent Irrigatsiya va Qishloq xo‘jaligini mexanizatsiyalash muhandislari instituti,  Toshkent to‘qimachilik va yengil sanoat institute, larini kiritish mumkin. Yuqorida ko‘rsatilgan universitetlar va institutlar bilan hamkorlikda ilmiy-tadqiqot va ilmiy-uslubiy ishlar olib borilmoqda. 

Innovatsion g‘oyalar va ishlanmalar borasida bajarilayotgan ishlar
Ustuvor innovatsion, ilmiy-tadqiqot, tajriba-konstruktorlik va “startap” loyihalarini o‘z xarajatlarini o‘zi qoplash asosida tanlab olish va moliyalashtirish tanlovida ishtirok etish uchun “Umumtexnika fanlari” kafedrasi quyidagi loyihalarni taqdim etdi:
- Soya urug‘larini dukkaklaridan ajratadigan qurilmani ishlab chiqish va parametrlarini asoslash;
- Quyosh nurida quritgich;
- Suv yo‘q joylarda o‘simliklarni sug‘orish usuli;
- KXU-4X kultivatorining o‘qyoysimon panjasini yangi turini yaratish;
- CHKU-4A kultivatorning o‘qyoysimon panjasini yangi turini yaratish.
		
Xalqaro hamkorlik va chet el bilan ilmiy aloqalar asosida erishilgan natijalar
O‘quv jarayoniga ilg‘or xorijiy tajribalarini joriy etish, ta’lim-tarbiya va ilmiy-tadqiqotlar sifati va samarasini oshirish maqsadida rivojlangan mamlakatlardagi  yetakchi Oliy o‘quv yurtlari va Fanlar Akademiyasi tizimidagi ilmiy tekshirish institutlari bilan o‘zaro o‘quv-ilmiy sohalar bo‘yicha xalqaro hamkorlik aloqalarini yo‘lga qo‘yilgan: 
•	Rossiya Federatsiyasining Qozon Federal universitetining Naberenjnochelninskiy instituti filali “Mexanika va konstruktsiyalash” kafedrasining dotsenti Fardaev A.R. bilan kafedra mudiri dotsent Turmatov J.R., kafedra dotsenti O.Qo‘ychiyevlar tomonidan ilmiy va o‘quv sohalar bo‘yicha hamkorlik aloqalarini yo‘lga qo‘ysh bo‘yicha kelishuvlar olib borildi.
•	Kafedrada ta’lim sifatini oshirish va xalqaro hamkorlikni kuchaytirish maqsadida Jizzax politexnika instituti  “Umumtexnika fanlari” kafedrasi hamda Qozon Federal universitetining Naberejnochelni instituti filali “Mexanika va konstruktsiyalash” kafedrasining dotsenti Fardaaev Albert Rifovich tomonidan Qo‘shma ta’lim dasturlari bo‘limi 2 bosqich M-2-20 guruh talabalariga “Mexanika” fanidan 12 soat hajmda, M-1-21 guruh talabalariga “Nazariy mexanika” fanidan 12 soat hajmda ZOOM platformasi orqali onlayn dars mashg‘ulotlari olib boradi.
. <br><b>&nbsp;&nbsp;  Xalqaro hamkorlik va chet el bilan ilmiy aloqalar asosida erishilgan natijalar </b>
O‘quv jarayoniga ilg‘or xorijiy tajribalarini joriy etish, ta’lim-tarbiya va ilmiy-tadqiqotlar sifati va samarasini oshirish maqsadida rivojlangan mamlakatlardagi  yetakchi Oliy o‘quv yurtlari va Fanlar Akademiyasi tizimidagi ilmiy tekshirish institutlari bilan o‘zaro o‘quv-ilmiy sohalar bo‘yicha xalqaro hamkorlik aloqalarini yo‘lga qo‘yilgan: 
•	Rossiya Federatsiyasining Qozon Federal universitetining Naberenjnochelninskiy instituti filali “Mexanika va konstruktsiyalash” kafedrasining dotsenti Fardaev A.R. bilan kafedra mudiri dotsent Turmatov J.R., kafedra dotsenti O.Qo‘ychiyevlar tomonidan ilmiy va o‘quv sohalar bo‘yicha hamkorlik aloqalarini yo‘lga qo‘ysh bo‘yicha kelishuvlar olib borildi.
•	Kafedrada ta’lim sifatini oshirish va xalqaro hamkorlikni kuchaytirish maqsadida Jizzax politexnika instituti  “Umumtexnika fanlari” kafedrasi hamda Qozon Federal universitetining Naberejnochelni instituti filali “Mexanika va konstruktsiyalash” kafedrasining dotsenti Fardaaev Albert Rifovich tomonidan Qo‘shma ta’lim dasturlari bo‘limi 2 bosqich M-2-20 guruh talabalariga “Mexanika” fanidan 12 soat hajmda, M-1-21 guruh talabalariga “Nazariy mexanika” fanidan 12 soat hajmda ZOOM platformasi orqali onlayn dars mashg‘ulotlari olib boradi.
 <br><b>&nbsp;&nbsp; Kafedrada  ilmiy-pedagogik kadrlar tayyorlash  bo‘yicha istiqbolli rejani bajarilishi</b>
 Pardaev O.R. - texnika fanlari doktori, professor Nuriev K.K. rahbarligida fan doktori (Dsc) ilmiy darajasini olish uchun “Kichik maydonlardagi qishloq xo‘jaligi ekinlarini boshog‘i va dukkaklaridan ajratishning ilmiy-texnikaviy yechimlari” mavzusida ilmiy tadqiqot ishlarini davom ettirmoqda.
Quvondiqov Yo.T. - texnika fanlari doktori, professor Nuriev K.K. rahbarligida “Kultivator panjasining yeyilish dinamikasini tadqiq qilish va yuqori resursli konstruktsiyasini yaratish” mavzusida ilmiy tadqiqot ishlarini mustaqil tadqiqotchi sifatida davom ettirmoqda.
Axmedov A.T. – texnika fanlari doktori, professor Nuriev K.K. rahbarligida “Kultivatorlarning loyihaviy geometriyasini saqlab qolish orqali ulardan foydalanish samaradorligini oshirish” mavzusida ilmiy tadqiqot ishlarini mustaqil tadqiqotchi sifatida boshladi.
Norbekov N.N. – dots. Turmatov J.R. ilmiy rahbarligida, 13.00.02 – Ta’lim va tarbiya nazariyasi va metodikasi (texnika fanlari) ixtisosligi bo‘yicha “Modulli-kompetentli yondashuv asosida talabalarni innovatsion muhandislik faoliyatini rivojlantirish metodikasi (Mexanika o‘quv fani misolida)” mavzusida ilmiy tadqiqot ishlarini mustaqil tadqiqotchi sifatida olib bormoqda. 
Parmanov N.N. – texnika fanlari doktori, professor Nuriev K.K. rahbarligida “Kultivator ustarasining ishlash muddatini oshirish” mavzusida ilmiy tadqiqot ishlarini mustaqil tadqiqotchi sifatida olib bormoqda.
Qabilov B.U.– texnika fanlari doktori, professor Nuriev K.K. rahbarligida “Resursi oshirilgan kultivator tuzilmali ishchi organining parametrlarini asoslash” mavzusida ilmiy tadqiqot ishlarini olib bormoqda.
Achilov E.T. – t.f.f.d. Pardaev O.R. rahbarligida “Mosh donini dukkaklaridan ajratadigan qurilmaning parametrlari va ish rejimlarini asoslash” mavzusida ilmiy tadqiqot ishlarini olib bormoqda.
Turdaliev Z.S. – texnika fanlari doktori, professor Xudaynazarov X.X. ilmiy rahbarligida, “Ko‘p qatlamli (kompozit) plastinkalarning tebranishlari fizikaviy-mexanik xossalarining ba’zi bir jihatlari” mavzusida ilmiy tadqiqot ishlarini mustaqil tadqiqotchi sifatida olib bormoqda. 

        </p>

        </div>
    </div>
</div>



{% endblock content %}




