{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/elektex.jpg" %}">
                </div>
                <div class="right">
                    <p>Elektr texnologiyasi kafedrasi mudiri</p>
                    <p><b>Axmedov Erkin Raxmonovich</b></p>
                    <p><b>Qabul vaqti:</b>  haftaning Dushanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> +99893-613-85-55</p>
                    <p><a href="  erkin.axmedov.1984@gmail.com" class="poshta" ><b> E-mail: </b>  erkin.axmedov.1984@gmail.com</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Elektr texnologiyasi  kafedrasi haqida</b><br>
               “Elektr texnologiyasi” kafedrasi 2020-yil “Elektroenergetika” kafedrasi negizida 60710700 - “Elektr texnikasi, elektr mexanikasi va elektr texnologiyalari (elektr mashinasozlik) yo‘nalishini o‘ziga jamlagan holda, 2020-2021 o‘quv yilida institute kengashi qarori bilan “Elektr texnologiyasi” kafedrasi sifatida ajralib alohida kafedra sifatida faoliyat boshlagan. Kafedrani 2020-yildan boshlab fizika-matematika f. n., dotsent Parsaxonov Abdulkobi G’afurovich rahbarlik qilgan. 2022-yil 8-sentyabrdan boshlab kaferdani PhD E.Axmedov rahbarlik qilib kelmoda. Hozirgi kunda o‘quv jarayon va moddiy texnika bazasini to‘liq shakllantirib kelmoqda.
               Bugungi kunda kafedrada 60710700 - “Elektr texnikasi, elektr mexanikasi va elektr texnologiyalari (elektr mashinasozlik) bakalavr yo‘nalishida bo‘yicha jami 305 ta talaba ta’lim olmoqda. Shulardan: 60 ta talaba grand asosida, 245 ta talaba to‘lov kontrakt asosida tahsil olmoqda.
“Elektr texnologiya” kafedrasida kadrlar tayyorlash milliy dasturi asosida bitta bakalavriat ta’lim yo‘nalishlari bo‘yicha bakalavrlar tayyorlamoqda.
2023-2024-o‘quv yilidan kafedrada 13 nafar professor-o‘qituvchi faoliyat ko‘rsatmoqda. 2 nafari dotsent, 5 nafari katta o‘qituvchi, 6 nafari assistantlar faoliyat olib bormoqda. Kafedra jamoasi oldiga elektr muhandislar yo‘nalishi bo‘yicha yetuk bakalavr tayyorlash, o‘quv uslubiy, ilmiy-tadqiqot ishlari olib borish asosiy vazifalar etib belgilandi.
60710700 – Elektr texnikasi, elektr mexanikasi va elektr texnologiyalari (elektr mashinasozlik) bakalavriat ta'lim yo'nalishi – fan, ishlab chiqarish va xizmat ko‘rsatish sohasidagi yo‘nalish bo‘lib, elektr mashinalari, transformatorlar va elektr apparatlarining ish jarayonlari nazariyasini o‘zlashtirish va tadqiqot qilish, ularni ishlab chiqarish, loyihalash, ularga texnik xizmat ko‘rsatish va ularni diagnostika qilish, sinash va ekspluatatsiya qilish hamda ularga ishlatiladigan materiallardan samarali foydalanishga yo‘naltirilgan usullari, metodlari va uslublarining majmuasini qamrab oladi.
Shu kunlarda kafedra katta o‘qituvchilari G.Kushakov, U.Mirzayev, 05.05.02 “Elektrotexnika. Elektr energiya stansiyalari, tizimlari. Elektrotexnik majmualar va qurilmalar” ixtisoslik bo‘yicha mustaqil tadqiqotchi sifatida hamda kafedra assistenti O.Mamasoliyev I.Karimov nomidagi Texnika uuniversitetida 05.05.06-"Qayta tiklanadigan energiya turlari asosidagi energiya qurilmalari" ilmiy ishlarini ilmiy faoliyatlari bilan shug’ullanib kelishmoqda. 
2023-yildan boshlab kafedra assistenti U.Xudoyberdiyev Toshkent Irrigatsiya va qishloq xo'jaligini mexanizatsiyalash muhandislari instituti Milliy tadqiqot universiteti 05.05.07-“Qishloq xo‘jaligida elektr texnologiyalar va elektr uskunalar ixtisosligi bo‘yicha tayanch doktoranturaga qabul qilindi.
Kafedra professor-o‘qituvchilari xorijiy universitetlarda malaka oshirish hamda bir qarot loyiha asosida ilmiy tatqiqot ishlarni amalga oshirib kelmoqda.
Jumladan kafedra katta o‘qituvchisi Mirzayev Uchqun Nazarqosimovich AQShning O'zbekistondagi elchixonasi tomonidan e'lon qilingan tanlovda g'olib bo'lib umumiy qiymati 25000 dollar bo'lgan Grantni qo'lga kiritdi. Ushbu mablaglar hisobidan AQShning yetakchi universitetlaridan biri bo'lgan Vayoming universitetida 4 oylik stajirovkada bo‘lib qaytdi. 
“Elektr texnolgiya” kafedrasida Turkiya Davlatning Ege  universiteti bilan institut o‘rtasida imzolangan shartnomaga ko‘ra kafedra katta o`qituvchisi U.Mirzayev va U.Xudoyberdiyev Qo`shma ta’lim dasturi talabalariga o`quv mashg`ulotlarini online olib bormoqda.
Shu jumladan kafedrada  Xalqaro Oliy ta’lim muassalari reytingda top-1000 taligidan o‘rin olgan Turkiya respublikasining eng nufuzli Oliy ta’lim muassasi bo‘lgan EGE universiteti bilan o‘zaro hamkorlik shartnomasi tuzilgan. Kafedra shu bilan bir qatorda “MEI”MTU, Don texnika universiteti, “TIQXMMI” MTU, TDTU memorandum shartnomalar tuzilgan.
Shu jumladan kafedrada “O‘zbekenergo” DAK “Jizzax viloyati hududiy elektr tarmoqlari korxonasi”AJ, “Jizzax Plastmassa”AO, “Jizzax don maxsulotlari”AJ, “Jizzax Zenatkor temir beton buyumlari” AJ, “Stone lider” MCHJ, Elektro-elenant fayz” MCHJ  ishlab chiqarish korxonalari bilan hamkorlik shartnomalari tuzilgan.  
Shuningdek kafedraga Germaniya davlati “Didactic” LEYBOLD korxonasidan eng zamonaviy texnologiyalar asosida yaratilgan laboratoriya jihozilari olib kelingan. 
“Elektr texnologiyasi” kafedrasida “Yosh elektromexanik” to‘garagi mavjud bo‘lib, hozirgi kunda to‘garakga bakalavriyat talabalaridan 30 nafar talabalar a’zo bo‘lgan. Kafedradagi barcha professor-o‘qituvchilari to‘garakga a’zo talabalarga biriktirilib, to‘garak ish rejasi, mashg‘ulotlarini olib borish grafigi tuzilgan. Hozirgi kunda kafedrada 60710700-“Elektr texnikasi, elektr mexanikasi va elektr texnologiyalari (elektr mashinasozlik) ta’lim yo‘nalishi bo‘yicha bakalavrlar tayyorlamoqda
Kafedrada sportga ham alohida e’tibor qaratilib kelinmoqda. Buning natijasida kafedra o‘qituvchilari Jizzax politexnika instituti rektorining tashabusi bilan o‘tkaziladigan mimi futbol bo‘yicha “Rektor kubogi” musobaqalarida 2022-2023 o‘quv yilida kubok sohibiga aylandi.

    
            </p>
            
            <div class="container">
                <div class="row">
                  <div class="col  mt-3">
                    <img src="{% static "Photos/img_kaf/elektex.jpg" %}" class="kaf-img">
                  </div>
                  <div class="col  mt-3">
                    <img src="{% static "Photos/img_kaf/elektex2.jpg" %}" class="kaf-img">

                  </div>
                  
                </div>
           </div>
            

        </div>
    </div>
</div>



{% endblock content %}




