{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/iconmen.png" %}">
                </div>
                <div class="right">
                    <p>Iqtisodiyot va menejment kafedrasi mudiri</p>
                    <p>iqtisod fanlari nomzodi, dotsent<b> Abdunazarov Saidaxmat Abdumalikovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, payshanba va shanba kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b>+99894-196-41-41</p>
                    <p><a href=" S.Abunazarov@mail.ru" class="poshta" ><b> E-mail: </b> S.Abunazarov@mail.ru</a> </p>  
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;IQTISODIYOT VA MENEJMENTI KAFEDRASI TARIXI</b><br>
                Kafedra 1984-yil 12-dekabrda “Mashinasozlik va qurulishda iqtisodiyot va boshqaruv” nomi bilan tashkil etilgan.
1984-1994 yillarda dots. N. Q. Shodiyev, dots. B. Kattakishiyev, dots. T. Q. Qayumov, dots. I. T. Tirkashev kafedra mudiri vazifasini bajargan.
1996-yilda kafedra “Menejment” va “Makroiqtisodiyot” kafedralariga bo‘lingan bo‘lib, “Menejment” kafedrasiga dots.Sh.R.Ro‘zmetov va “Makroiqtisodiyot” kafedrasiga dots.T.E.Eshonqulov mudir etib tayinlangan.
2003-yilda O‘zbekiston Respublikasi Vazilar Maxkamasining qaroriga asosan “Menejment” va “Makroiqtisodiyot” kafedralari birlashtirilib “Iqtisodiyot va menejment” kafedrasi tashkil etildi. “Iqtisodiyot va menejment” kafedrasi 2006-yilda “Boshqaruv”, 2008-yilda “Ishlab chiqarishda boshqaruv” nomlari bilan faoliyat yuritgan. Bu davrda kafedraga dots.T.E.Eshonqulov raxbarlik qildi. O‘zbekiston Respublikasi Vazilar Maxkamasining 2014-yil 12-iyundagi 157-sonli “Jizzax politexnika instituti tashkiliy tuzilmasini takomillshtirish” to‘g‘risidagi qaroriga binoan yangidan “Menejment” kafedrasi tashkil etildi. 2015-yildan esa “Transport tizimlarini boshqarish” kafedrasi nomi bilan faoliyat yuritgan. Kafedra 2017-yildan 2020-yilgacha “Menejment” nomlari bilan faoliyat yuritgan. Kafedra 2020-yildan “Iqtisodiyot va menejment” kafedrasi nomi bilan faoliyat yuritmoqda.
Kafedrada 44 nafar professor-o‘qituvchilar faoliyat olib 1 nafar fan doktori va professor, 13 nafar fan nomzodlari va 16 dotsentlar, 6 nafar katta o‘qituvchlar, 21 nafar assistentlar, bir nafar kabinet mudiri faoliyat ko‘rsatmoqdalar.
Kafedra mudiri S.A.Abdunazarov raxbarligida fan doktorlari va professorlari J.Х.Bobonazarova, fan nomzodlari va dotsentlar R.Xidoyatov, B.Kattakishiyev, A.М.Ko‘chimov, D.S.Saidaxmedova, A.M.Berdiqulov, M.Y.Siddiqov, Sh.G‘.Rasulova, F.Y.Obidova, M.R.Obilov, D.T.Komilov, J.I.Nasriddinov, T.A.Berdiyorov, O.A.Arzikulov, I.А.Tursunqulov, M.M.Turdimuratov, Z.M.Jabborova, katta o‘qituvchilar Z.O.Umarova, D.F. Bayzakova, D.B. Jabborov, F.A. Aziztoyeva, Y.Y. Ortiqov, Sh.Sh.Rasulov, assistentlar O‘.Xolbo‘taev, Y.A. Jabborova, D.D. Norboeva, Sh.F. Saloxitdinov, A.U. Toshbekov, D.P. O‘rinboyev, O‘.M. Baytanov, Y.S. Axmedova, M.G‘.Sultonov, S.S. Usmonova, D.A. Turumova, O.S. Barnoyev, G.M. Atamuratova, G.Sh. Umirova, D.A. Xushvaqtov, M.Q. Valixanova, M.O‘.Meliboyeva, L.F. Rasulov, I.B. Abdumo‘minov, S.A. O‘razboyev, L.M. Yoqubov talabalar bilan o‘quv, o‘quv-uslubiy, ma’naviy -ma’rifiy ishlarni olib borishmoqda. Kafedrani ilmiy saloxiyati 41 % tashkil qiladi.
Kafedrada bakalavriatning 60411200 - Menejment (tarmoqlar va sohalar bo‘yicha) kunduzgi va sirtqi ta’lim shakllarida, 60410100 - Buxgalteriya hisobi va audit (tarmoqlar bo‘yicha), 60310100-Iqtisodiyot (tarmoqlar va sohalar bo‘yicha) ta’lim yo‘nalishlari bo‘yicha, magistratura mutaxassisligining 70411201-Menejment (tarmoqlar va sohalar bo‘yicha), 70410101 - Buxgalteriya hisobi mutaxassisliklari bo‘yicha kadrlar tayyorlanadi, shuningdek institutdagi barcha ta’lim yo‘nalishlarini iqtisodiy fanlaridan mashg‘ulotlar olib boriladi.
Bakalavriatning 60411200 - Menejment (tarmoqlar va sohalar bo‘yicha) kunduzgi va sirtqi ta’lim shakllarida, 60410100 - Buxgalteriya hisobi va audit (tarmoqlar bo‘yicha), 60310100-Iqtisodiyot (tarmoqlar va sohalar bo‘yicha) ta’lim yo‘nalishlari bo‘yicha, magistratura mutaxassisligining 70411201-Menejment (tarmoqlar va sohalar bo‘yicha), 70410101 - Buxgalteriya hisobi mutaxassisliklarini tamomlagan mutaxassislar korxona, tashkilot, muassasalarda menejer, iqtisodchi, buxgalter va auditor lavozimida ishlash imkoniga ega bo‘ladilar.
 <br><b>&nbsp;&nbsp;О‘quv-ishlari:</b> “Iqtisodiyot va menejment” kafedrasida 60411200 - Menejment (tarmoqlar va sohalar bo‘yicha) kunduzgi va sirtqi ta’lim shakllarida, 60410100 - Buxgalteriya hisobi va audit (tarmoqlar bo‘yicha), 60310100-Iqtisodiyot (tarmoqlar va sohalar bo‘yicha) ta’lim yo‘nalishlari bo‘yicha, magistratura mutaxassisliklarining 70411201-Menejment (tarmoqlar va sohalar bo‘yicha), 70410101 - Buxgalteriya hisobi mutaxassisliklarida О‘zbekiston Respublikasi Oliy ta’lim, fan va innovatsiyalar vazirligining hamda institut rektorining rо‘yxatga olingan DTS, namunaviy о‘quv reja asosida о‘quv jarayoni tashkil etilgan. Ta’lim yо‘nalishlari bо‘yicha ishchi о‘quv rejalar va sillabuslar institut ilmiy kengashida tasdiqlangan. Bugungi kunda kafedrada 57 nomdagi fanlar о‘qitilib, yuqorida kо‘rsatilgan fanlarning barchasidan о‘quv-uslubiy majmualar professor-о‘qituvchilar tomonidan yaratilgan va bu о‘quv-uslubiy majmualardan ta’lim jarayonida keng foydalaniladi.
            </p>

        </div>
    </div>
</div>



{% endblock content %}




