{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/img_kaf/asadov.JPG" %}">
                </div>
                <div class="right">
                    <p>Bino va inshootlar qurilishi kafedrasi mudiri</p>
                    <p>Prof.<b> Asatov Nurmuhammad Abdunazarovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b>  (90)5398855</p>
                    <p><a href=" asatov_nur@list.ru" class="poshta" ><b> E-mail: </b>  asatov_nur@list.ru</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp; Kafedra  haqida ma’lumot:</b><br>
               “Bino va inshootlar qurilishi” kafedrasining tashkil etilishi tarixi Jizzax politexnika instituti tarixining boshlanishi bilan bevosita bog‘liq. 1977-yil “Qurilish fanlari” kafedrasi tashkil etilib, kafedraga dots. A.Salimov rahbarlik qilgan.
Kafedraga tajribali pedagoglar A.Abduraximov va Q.Bo‘riyevlar bilan bir qatorda iqtidorli yoshlar T.Muqumov, R.Nimatov, I.Meliyev, B.Sobirov, B.Kattakishiyevlar taklif etildilar. Keyinchalik kafedra bir necha kafedralar ajralib ketdi va turli yillarda har xil nom bilan atalib kelindi.
1983 yili “Qurilish fanlari” kafedrasi negizida “Sanoat va fuqaro binolari me’morchiligi” kafedrasi tashkil etildi va kafedrani t.f.n. E.Abdullayev boshqargan. 
Kafedra bu davrlarda “Sanoat va fuqaro qurilishi” hamda “Qishloq xo‘jalik qurilishi” mutaxassisliklari bo‘yicha kadrlar tayyorlagan.
1984-1998 yillarda kafedraga dots. A.G‘aniyev rahbarlik qilgan. Ushbu yillarda kafedra “Sanoat va fuqaro qurilishi”, “Sanoat va fuqaro binolari me’morchiligi” nomlari bilan faoliyat ko‘rsatdi.
Kafedra 1997 yildan boshlab “Bino va inshootlar qurilishi” nomi bilan yuritila boshlandi va bugungi kungacha ham ushbu nom bilan faoliyat ko‘rsatmoqda.
1998 -2002 yillarda t.f.n. O.Burxonov, 2002-2004 yillarda dots. A.G‘aniyev, 2005-2006 yilda t.f.n. R.Hamraqulov, 2007-2008 yillarda dots. I. G‘anyiev va B.Rahmonovlar rahbarlik qilganlar.
2008-yildan buyon kafedrani t.f.n., prof. N.Asatov boshqarib kelmoqda. 

                <br><b>&nbsp;&nbsp; Erishilgan ilmiy natijalar:</b><br>
               Bugungi kunda kafedrada 27 nafar professor-o‘qituvchi faoliyat ko‘rsatadi. Ulardan 1 nafari professor, 6 nafari fan nomzodlari, dotsentlar, 7 nafari katta o‘qituvchi va 13 nafari assistentlardir
               Iqtidorli talabalar kafedrada faoliyat ko‘rsatayotgan fan to‘garaklariga ham jalb qilingan. Iqtidorli talabalarning ishlari tanlovlarga, nomli stipendiyalarga tavsiya qilingan va yutuqlarga erishilgan. Oxirgi 3 yil davomida 2 ta “Beruniy” stipendiyasi sohibi va “Zulfiya” nomidagi Davlat mukofoti laureati, “Yurt kelajagi” tanlovi viloyat g‘oliblari, fan olimpiadasi va boshqa tanlovlarning sovrindorlari yetishib chiqqan.
Kafedra professor-o’qituvchilari tomonidan so‘nggi yillarda 8 ta darslik va 11 ta o‘quv qo‘llanma yaratildi. Ushbu darslik va o‘quv qo‘llanmalar professor N.Asatov, dotsentlar R.Xamraqulov va M.Aliyev, katta o‘qituvchilar O‘.Ablayeva, U.Djurayev, B.Sagatov va assistentlar N.Raxmonov, N.Normatovani alohida e’tirof etib o‘tishimiz lozim.
Bugungi kunda kafedra professor-o‘qituvchilaridan 4 nafari tayanch doktaranturada katta ilmiy xodim bo‘lib faoliyat olib borishmoqda, 2 nafari mustaqil ilmiy izlanuvchi bo‘lib, o‘z doktorlik ilmiy tadqiqot ishlarini yakunlab, himoyaga tayyorlanmoqda.
Kafedra mudiri prof. N.Asatov O‘zbekiston Respublikasi Prezidentining 2022 yildagi farmoniga binoan “O’zbekiston konstitutsiyasiga 30 yil” esdalik nishoni bilan taqdirlangan.

Kafedrada professor-o‘qituvchilarning ilmiy salohiyatini oshirishi bo‘yicha bajarilgan ishlar:
- Rajabov Yorqinbek Sayfiddin o‘g‘li 02.00.07- “Kompozitsion lok-bo‘yoq va rezina materiallari kimyosi va texnologiyasi” ixtisosligi bo‘yicha “Kompozitsion polimer qoplamalarning tarkibi va olish texnologiyasini ishlab chiqish va temir-beton mahsulotlarini ishlab chiqarishda qo‘llash” mavzusida t.f.f.d. (Phd) dissertatsiyani ximoya qildi (31.01.2023); 
- Aliev Mashrab Rahmonqulovich 05.09.01- “Qurilish konstruksiyalari, bino va inshootlar” ixtisosligi bo‘yicha “Dotsentlik” unvonini oldi (04.07.2023).
Scopus, Web of Science xalqaro ma’lumotlar bazalariga kiritilgan maqolalar soni 2023-yilda 4 ta, 2024-yil 1-chorakda 4 ta va kafedra professor-o‘qituvchilarga nisbati (hisoblash metodikasi bo‘yicha), iqtiboslik ko‘rsatkichlari salmog‘i 12 ta ;
Respublika jurnallarida e’lon qilingan ilmiy maqolalar soni 2023-yilda 51 ta, 2024-yil 1-chorakda 27 ta va fakultet professor-o‘qituvchilarga nisbati (hisoblash metodikasi bo‘yicha) 
Kafedrada xorijiy professor-o‘qituvchilar salmog‘i:
- 2023-2024 o‘quv yilida “Bino va inshootlar qurilishi” kafedrasi yuklamasidan “Bino va inshootlar qurilishi” ta’lim yo‘nalishi talabalari uchun “Qurilish jarayonlari texnologiyasi, qurilish mashinalari” fanidan Osh davlat universiteti t.f.n. professori Orozbekov Muxtar Orozbekovich  ish haqi to‘lanmagan holda (beg‘araz yordam asosida) 14 soat soatbay asosida dars o‘tdi;
- 2023-2024 o‘quv yilida “Bino va inshootlar qurilishi” kafedrasi yuklamasidan “Bino va inshootlar qurilishi” ta’lim yo‘nalishi talabalari uchun “Qurilish jarayonlari texnologiyasi, qurilish mashinalari” fanidan M.Auezova nomidagi Janubiy Qozog‘iston universiteti “Sanoat, fuqaro va yo‘l qurilishi” kafedrasi mudiri t.f.f.d. (PhD) Dossaliyev Kanat Serik o‘g‘liga ish haqi to‘lanmagan holda (beg‘araz yordam asosida) 14 soat soatbay asosida dars o‘tdi.
Kafedra dotsenti R.Xamraqulov "Uy qurilishida innovatsion temir-beton to‘sinlarini qo'llash" mavzusida 100 000 AQSH dollarlik innovatsion grant ustida ish olib borilmoqda.

            </p>

        </div>
    </div>
</div>



{% endblock content %}




