{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/matem.jpg" %}">
                </div>
                <div class="right">
                    <p>Oliy matematika kafedrasi mudiri</p>
                    <p>PhD, dotsent<b>Usanov Mexriddin Mustafoyevich</b></p>
                    <p><b>Qabul vaqti:</b>  haftaning Chorshanba va Juma kunlari soat 15:00 dan 17:00 gacha.</p>
                    <p><b>Telefon:</b> +998(97) 644-35-00</p>
                    <p><a href="mehriddin.usanov.91@bk.ru" class="poshta" ><b> E-mail: </b>mehriddin.usanov.91@bk.ru</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;KAFEDRA HAQIDA MA’LUMOT:</b><br>

               “Oliy matematika” kafedrasi 1978 yil mart oyida Toshkent politexnika instituti Jizzax umumtexnika fakultetining umum ta’lim fanlari kafedrasi qoshida tashkil etildi. 1978-2022 yillarda kafedraga fizika-matematika fanlari nomzodi, dotsent M.Mansurov, texnika fanlari nomzodi T.Eshonqulov, fizika-matematika fanlari nomzodlari: A.O.Musayev, A.Hamroqulov, B.Bobonazarov, A.Sh.Berdiyorov, U.A.Soatov, katta o‘qituvchi S.Murodov, texnika fanlari nomzodi A.Abdulxalikov, A.O.Musayev, A.Sh.Berdiyorov va U.A.Soatovlar mudirlik qildilar. Kafеdraning tuzilishi va rivojlanishida fizika-matematika fanlari nomzodi, dotsent M.Mansurov, A.O.Musayev, A.Abdulxalikovlar katta hissa qo‘shgan. 2023 yil iyul oyidan boshlab kafedraga pedagogika fanlari bo‘yicha falsafa fanlari doktori, dotsent M.M.Usanov rahbarlik qilib kelmoqda.
1988-1994 yillari kafedraga f.m.f.n. A.O.Musayev mudirlik qildilar. Bu yillar davomida kafedra a’zolaridan besh nafari fan nomzodligi dissertatsiyalarini muvaffaqiyatli himoya qildilar va kafedra ilmiy salohiyati 70% ni tashkil etdi. Besh yil davomida kafedra a‘zolari tomonidan 60 dan ortiq ilmiy maqolalar 40 dan ziyod o‘quv-uslubiy qo‘llanma, ko‘rsatmalar yaratildi. Kafedra a’zolari dastlab filial, so‘ngra 1992 yildan yangi tashkil etilgan Jizzax politexnika institutining turli bo‘g‘inlarida faoliyat yurita boshladilar.
2010–2016 yillar mobaynida kafedra tarkibi yosh o‘qituvchilari R.Mirzaqobilov, T.Haydarov, H.Alimov, S.Sharipov, K.Axadova, B.Rahimov va A.Ne’matovlar orqali yoshartirildi. Bu yosh mutaxassislar qisqa vaqt ichida o‘z ilmiy-tadqiqot izlanishlarini aniqladilar va mamlakatimizning nufuzli oliy o‘quv yurtlari O‘zbekiston Milliy Universitet, Toshkent Texnika Universiteti, Samarqand davlat universiteti, Buxoro davlat universitetlari olimlari bilan uzviy ilmiy-tadqiqot ishlarini boshladilar. Kafedra ilmiy salohiyatini oshirish va uni yosh olimlar bilan ilmiy-uslubiy barqarorligini ta‘minlash borasida keng qamrovli o‘quv-uslubiy izlanish ishlari olib borildi.
2012-2016 yillarda f.m.f.n., dotsent E.A.Saliyev kafedrada ishladi va “Разработка алгоритмов программного обеспечения обработки и анализа изображений на основе теории нечетких множств” mavzu bo‘yicha tadqiqot ishlarini olib bordi.
2016 yil sentabrdan kafedraga f.m.f.d., professor S.Otaqulov ishga taklif etildi. Bu yetuk olim mehnat faoliyatini boshlagandan yosh o‘qituvchilar B.Rahimov va T.Haydarovlarning ilmiy ishiga rahbarlik qilib kerakli maslahatlarini berib kelmoqda.
2018-2022 yillarda kafedraga yosh o‘qituvchilar prof., J.Xusanov, dots. E.Qurbonov, M.Usanov, B.Adilov, Sh.Fayzullayev, U.Arslonov, N.Abriyev, S.Abdusaidov, J.Mamatov, A.Uzoqboyevlar ishga qabul qilindi.
Ushbu yosh o‘qituvchilar qisqa fursatlarda o‘zlarining ilmiy ishlarini boshlab yuborishdi va yuqori natijalarga erishishdi. Jumladan 2022-yilda M.Usanov falsafa doktori dissertatsiyasini, 2023-yilda B.Adilov, 2024-yil fevral oyida A.Ne’matovlar falsafa doktori dissertatsiyasini muvoffaqiyatli himoya qildi va kafedra ilmiy salohiyati yanada oshdi. 
Hosirgi kunda kafedra o‘qituvchilari X.Jabborov, K.Axadova, U.Arslonov, N.Abriyev va M.Tursunovlar mamlakatimizning nufuzli oliy ta’lim muassasalarida tayanch doktoranturada o‘qishga kirib o‘z ilmiy ishlarini olib bormoqda.
Kafedraning 6 nafar professor o‘qituvchilarida xorijiy tillarni bilish darajasini aniqlovchi 1-nafar C1 va 5 nafar B2 darajadagi til sertifikati mavjud bo‘lib ushbu professor o‘qituvchilar institutda tashkil qilingan ingliz tiliga ixtisoslashtirilgan guruhlarga xorijiy tilda o‘quv mashg‘ulotlarini olib borishmoqda.
Kafedra professor o‘qituvchilari tomonidan so‘ngi 2 yilda 10 ta darslik 6 ta o‘quv qo‘llanma 20 dan ortiq uslubiy ko‘rsatmalar chop ettirildi. Mamlakatimiz va Xorijning nufuzli oliy ta’lim va ilmiy tadqiqot muassasalarida ilmiy tadqiqot ishlari natijalari hisoblangan ilmiy maqolalar chop ettirilib kelinmoqda. Scopus va Web of Science ma’lumotlar bazasidagi ilmiy jurnallarda 15 dan ortiq maqolalari chop ettirildi.

 
           
</p>

        </div>
    </div>
</div>



{% endblock content %}




