{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/ij fan.jpg" %}">
                </div>
                <div class="right">
                    <p>Ijtimoiy fanlar kafedrasi mudiri</p>
                    <p>falsafa fanlari nomzodi, dotsent<b> Turatov Shuxrat Baxromovich                    </b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> +99891-568-64-67</p>
                    <p><a href="pqulmatov@umail.uz" class="poshta" ><b> E-mail: </b> pqulmatov@umail.uz</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp; Ijtimoiy fanlar kafedrasi</b><br>
               Mazkur  kafedra 1977 yilda  Toshkent  politexnika  instituti  Jizzax  “Umumtexnika”  fakul’teti qoshida  tashkil qilingan  bo‘lib, o‘sha  davrda  “Marksizm-leninizm va tillar” kafedrasi deb atalgan. Kafedrani falsafa  fanlari nomzodi Abdusalom Soatov boshqargan. 1980-1989 yillarda falsafa fanlari nomzodi, dotsent E.Murodov, 1989-1990 yillarda katta o‘qituvchi Hikmatulla Turmatov, 1990-1991 yillarda falsafa fanlari nomzodi Farhod Mamatqulov, 1991- 1992 va 1996-2001 yillarda katta o‘qituvchi Botir Uzoqov, 1993-1996 yillarda iqtisod fanlari nomzodi, Saidaxmad Abdunazarov, 2001- 2002 yillarda  iqtisod fanlari nomzodi, dotsent Ravshan Hidoyatov, 2006-2011 yillarda Q.Uralov, 2012 yilda J.Jo‘raev, 2012-2017 yillarda J.Bobonazarova, 2017-2023yillarda falsafa fanlari nomzodi, dotsent P.Qulmatovlar boshqarib kelgan. 2023 yildan hozirgi kunga qadar Shuhrat Turatov kafedrani boshqarib kelmoqda.
Kafedra 1987-1992 yillarda “Jamiyatshunoslik” deb nomlangan bo‘lsa, 1992 yillardan shu kungacha “Ijtimoiy fanlar” kafedrasi nomi bilan faoliyat yuritib kelmoqda.
Kafedrada “O‘zbekiston tarixi”, “Ma’naviyat asoslari”, “Dinshunoslik”, “Iqtisodiyot nazariyasi”, “Madaniyatshunoslik” fanlaridan ma’ruza va amaliy mashg‘ulotlar orqali talabalarga chuqur bilim berib kelingan. O‘tgan yillarda kafedra qoshida aspirantlar uchun “O‘zbekiston tarixi” fanidan kirish imtihoni hamda “Falsafa, milliy istiqlol g‘oyasi va fan metodologiyasi” kursidan nomzodlik minimumi qabul qilish yo‘lga qo‘yilgan. Bu esa aspiranturaga kiruvchilar, aspirantlar va ilmiy xodimlar uchun katta imkoniyat yaratgan.
“Ijtimoiy fanlar” kafedrasida ko‘zga ko‘ringan fanimiz fidoyilaridan  professorlar I.Suvonqulov, F.A.Axmedshina, J.S.Ramatov, dotsentlar E.Murodov, R.Hidoyatov, M.Pardaev, R.Xolmurodov, S.Abdunazarov, M.Kamolov, F.Mamatqulovlar  faoliyat yuritganlar.
 Kafedrada “O‘zbekistonning eng yangi tarixi”, “Falsafa”,  O‘zbekistonni rivojlantirish strategiyasi. Fuqarolik jamiyati” kabi fanlardan maruza va amaliy mashg‘ulotlar olib borilmoqda. 
 Kafedrada bugungi kunda o‘z sohasining jonkuyar ustozlaridan jami 20 nafar professor-o‘qituvchilar faoliyat olib bormoqdalar. Falsafa fanlari nomzodlari (PhD) Sh.B.Turatov, Q.Q.Razzoqov, P.M.Qulmatov, A.J.Ro‘ziev, T.G‘.Ibodullaev, X.I.Xidirov, v.b.dots.B.Uzoqov, katta o‘qituvchilardan B.Y.Rashidova, M.U.Xolbekova, S.I.Mamanazarov, K.A.Fayzullaeva, Z.Sh.Yodgorov, assistentlar  G.B.Azamatova, J.T.Axmedov, M.A.Tajibaev, M.Obilqosimov sidqidildan mehnat qilib kelmoqdalar va ilmiy izlanishlarni olib bormoqdalar. 
Kafedra professor-o‘qituvchilari talabalarga ijtimoiy fanlarni o‘qitishda  tomonidan  bugungi kunda davr talablariga mos darsliklar va o‘quv qo‘llanmalar, uslubiy tavsiyalar yaratilgan.
Yoshlarimiz O‘zbekistonning ertangi kunidir. Shu jihatdan olganda, bugungi talabalarimiz ertangi kun kasb egalari o‘z mutaxassisliklaridan tashqari, Vatanimiz tarixi bo‘lmish “O‘zbekistonning eng yangi tarixi”, “Falsafa” kabi fanlarni ham bilishlari zarur. 
“Ijtimoiy fanlar” kafedrasi Jizzax politexnika instituti “Transport” fakulteti tasarrufidagi kafedra bo‘lib, o‘z faoliyatini O‘zbekiston Respublikasining “Ta’lim to‘g‘risida”gi Qonuni, Oliy ta’lim, fan va innovatsiyalar vazirligining me’yoriy hujjatlari va institut Ilmiy Kengashi qarorlari, institut rektorining buyruqlari hamda kafedra Nizomi asosida olib boradi. Kafedra bakalavriatning barcha mutaxassisliklariga “O‘zbekistonning eng yangi tarixi”, “Falsafa”,  “Dinshunoslik” fanlaridan o‘quv jarayonida ishtirok etadi.
“Ijtimoiy fanlar” kafedrasida quyidagi faoliyat turlari bo‘yicha ish olib boriladi: o‘quv ishlari, ilmiy-uslubiy ishlar, ilmiy-tadqiqot ishlari, ustoz-shogird ishlar, ma’naviy-ma’rifiy ishlari. 
Kafedra a’zolaridan hozirgi kunda 5 nafari PhD (doktorlik) dissertatsiyalarini muvaffaqiyai himoya qildilar. Bugungi kunda yana 4 nafari ilmiy ishlar himoyasi ustida ish olib bormoqda. 
Kafedraning barcha a’zolari ARMga a’zo bo‘lishgan. ARM fondidan to‘liq foydalanishmoqda.  Kafedrada o‘tiladigan maxsus fanlar bo‘yicha ARMda (o‘zbek tili) etarli darajada adabiyotlar (rus tili) mavjud, shuningdek, kutubxonaning  kompyuter bankida ma’ruza matnlari, amaliy mashg‘ulotlardan uslubiy qo‘llanma va ko‘rsatmalarning elektron versiyalari joylashtirilgan.
“Ijtimoiy fanlar” kafedrasida davlatimizda siyosiy-huquqiy, ijtimoiy-iqtisodiy, ta’lim, ma’naviy-ma’rifiy sohada amalga oshirilayotgan islohotlarni yuksaltirish, ta’lim va fan integratsiyasini mustahkamlash borasida samarali ishlar amalga oshirilmoqda. 

Shuningdek, talabalar siyosiy va huquqiy ongini  hamda madaniyatini yanada yuks
	 
 Kafedra o‘quv-uslubiy va ilmiy ishlarni olib borishda bir qancha ko‘zga ko‘ringan oliygohlar bilan hamkorlikni olib bormoqda. Jumladan, “Ijtimoiy fanlar” kafedrasi “Akademik almashinuv hamkorlik dasturlari” doirasida QS reytingida 500 talik OTMlar ro‘yxatiga kirgan M. Auezov nomidagi Janubiy-Qozog‘iston universiteti bilan O‘zaro hamkorlik shartnomasi tuzilgan .Boshqirdiston Davlat universiteti, O‘zbekiston milliy universiteti, Toshkent davlat texnika universiteti, Toshkent davlat iqtisodiyot universiteti, Sharof Rashidov nomidagi Samarqand davlat universiteti, Samarqand davlat arxitektura va qurilish instituti, O‘zbekiston Respublikasi Fanlar Akademiyasi Falsafa va huquq instituti, O‘zbekiston Respublikasi Fanlar Akademiyasi Samarqand arxeologiya instituti, Abdulla Qodiriy nomli Jizzax davlat pedagogika instituti  va boshqa shu kabi ilm dargohlari bilan yaqin aloqalar o‘rnatgan. 
Kafedra  jamoasi  ta’lim  tarbiyani  takomillashtirish,  o‘qitish, ta’lim  berishni  yangi  ilg‘or pedagogic usullarni  yaratish  va joriy qilish  maqsadida  tinmay  mexnat  qilmoqdalar. Kafedra a’zolari tomonidan ilmiy tadqiqotlarning samarasi o‘laroq keyingi yillarda 13ta o‘quv qo‘llanma, 12 ta monografiya,  200 yaqin ilmiy maqolalar chop etildi. 
 Kafedra professor-o‘qituvchilari tomonidan bugungi kunning eng dolzarb mavzularida institutga qarashli 3ta texnikum va akademik litseyda ma’naviy- ma’rifiy ishlar tashkil etilmoqda. “Ijtimoiy fanlar” kafedrasi professor- o‘qituvchilari tomonidan  “Inson huquqlarini o‘rganish ” bo‘yicha maxsus o‘quvkursi mashg‘ulotlari olib borilmoqda. Kafedra kunlari doirasida Talabalar turar joyida kafedra a’zolari va soha mutaxassislari  bilan tashrif buyurib suhbatlar uyushtirildi.
2024 yil 5-6 aprel kunlari Ijtimoiy fanlar kafedrasi tomonidan “Globallashuv davrida fan, ta’lim va ishlab chiqаrishning o‘zaro hamkorligi masalalari” mavzusidagi xalqaro ilmiy-amaliy konferensiya bo‘lib o‘tdi.  Konferensiya ishtirokchilari oflayn hamda onlayn tarzda o‘z dasturlari bilan ishtirok etib, ma’ruza qildilar. Konferensiya dasturiga asosan, tushlikdan so‘ng Jizzax shahridagi Hamid Olimjon va Zulfiya bog‘iga hamda muzeyiga sayohat uyushtirildi. 

            </p>

        </div>
    </div>
</div>



{% endblock content %}




