{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Fakultetlar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/fakultet/fakultet-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/img_fak/trandek1.jpg" %}">
                </div>
                <div class="right">
                    <p>Transport fakulteti dеkani</p>
                    <p>Texnika fanlari bo’yicha falsafa doktori, dotsent <b> Djiyanbayev Sirojiddin Valiyevich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning dushanba, chorshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> (72) 226-05-45 +99893 3030778, +998991180778</p>
                    <p><a href="sdjiyanbaev@bk.ru" class="poshta" ><b> E-mail: </b> sdjiyanbaev@bk.ru</a> </p>
                </div>
            </div>
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/img_fak/trandek3.jpg" %}">
                </div>
                <div class="right">
                    <p>Transport  fakulteti Yoshlar bilan ishlash bo`yicha dekan o’rinbosari</p>
                    <p><b>Soatova Go‘zal Mamatovna </b></p>
                    <p><b>Qabul vaqti:</b> Seshanba, Shanba kunlari soat 08-30 dan 16-00 gacha</p>
                    <p><b>Telefon:</b> +998915985221</p>
                    <p><a href="guzalmamatovna@gmail.com" class="poshta" ><b> E-mail: </b> guzalmamatovna@gmail.com</a> </p>
                </div>
            </div>
             <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/img_fak/trandek4.jpg" %}">
                </div>
                <div class="right">
                    <p>fakulteti o‘quv ishlari bo‘yicha dekan muovuni</p>
                    <p><b>Alishov Beriyor Ergash o‘g‘li</b></p>
                    <p><b>Qabul vaqti:</b> Seshanba, Shanba kunlari soat 08-30 dan 16-00 gacha</p>
                    <p><b>Telefon:</b> : +99897-794-7797</p>
                    <p><a href="diyor.alishov@gmail.com" class="poshta" ><b> E-mail: </b>diyor.alishov@gmail.com</a> </p>
                </div>
            </div>
             <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/img_fak/trandek.jpg" %}">
                </div>
                <div class="right">
                    <p>fakulteti Yoshlar masalalari va ma’naviy-ma’rifiy ishlar bo`yicha dekan muovuni</p>
                    <p><b>Mustafoyev Bexzod Farxod o`g`li</b></p>
                    <p><b>Qabul vaqti:</b> Seshanba, Shanba kunlari soat 08-30 dan 16-00 gacha</p>
                    <p><b>Telefon:</b> +99893-300-13-15</p>
                    <p><a href="bexzodmustafoyev02@gmail.com" class="poshta" ><b> E-mail: </b>bexzodmustafoyev02@gmail.com</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;TRANSPORT fakulteti tarixi</b><br>
               Mustaqillikdan kеyin, 1992 yilda Toshkеnt politеxnika institutining Jizzax filiali O’zbеkiston rеspublikasi Prеzidеntining farmoniga binoan, alohida mustaqil Jizzax politеxnika institutiga aylantirildi. 1977 yilda Toshkеnt politеxnika institutining Jizzax «Umumtеxnika» fakultеti tashkil etildi. 1980 yilda u Toshkеnt politеxnika institutining Jizzax filiali sifatida faoliyat ko’rsatib, bunda asosan «Sanoat va fuqaro qurilishi», «Qurilish buyumlarini ishlab chiqarish» mutaxassisliklari bo’yicha bugungi kunga qadar rеspublikamiz va viloyatimiz xalq xo’jaligiga ko’plab mutaxassislar yеtkazib bеrdi.
Bu vaqtga kеlib institut tarkibiga Toshkеnt avtomobil yo’llari institutning Jizzaxdagi «Umumtеxnika», Toshkеnt kimyo tеxnologiya institutining Jizzax «Umumtеxnika» fakultеtlari ham birlashtirilib Jizzax politеxnika instituti tarkibida 5 ta fakultеt faoliyat ko’rsata boshladi. Bular: «Qurilish muxandisligi», «Muxandislik iqtisodiyoti», «Avtomеxanika», «Kimyo tеxnologiya», «Kеchki-sirtqi» fakultеtlari shular jumlasidandir.
«Avtoransport» fakultеti 2014 yil  12 iyundagi «Vazirlar Maxkamasining Jizzax politexnika instituti faoliyatini takomillashtirish to`g`risida 2012 yil 29 iyundagi 187-son qaroriga o`zgartirish kiritish haqida» 157-son qarori, shuningdek, Oliy va o`rta maxsus ta`lim Vazirligining 2014 yil 14 iyundagi 229-sonli buyrug’ini ta`minlash maqsadida, «Avtotransport» hamda institutning «Sanoat texnologiyasi va qurilish» fakulteti bazasida «Sanoat texnologiyasi» va «Binolar va muhandislik inshoatlari injineringi» fakultetlari tashkil etildi.
Jizzax politexnika institutining 2020 yil 1 iyulda tuzilgan yangi strukturasiga asosan «Avtotransport» fakulteti «Transport» fakultetiga o’zgartirildi.
Hozirda «Transport» fakultetini SJiyanbayev Sirojiddin Valiyevich boshqarib kelmoqda. 
2009 yil Jizzax politexnika institutining “Avtotransport” fakulteti “Transport vositalarini ishlatish va ta'mirlash” yoʻnalishini a'lo baholar bilan tamomlab,  2011 yil Toshkent avtomobil va yoʻllar institutining Magisturatura boʻlimi “Ximmotologiya” mutaxassisligini imtiyozli diplom bilan yakunlagan. Magistraturada oʻqishi davrida “Oʻzbek-Amerika” qoʻshma korxonasining “TEXACO” ta'lim granti sohibi boʻlgan.
2011 yili Jizzax politexnika institutining “Transport vositalarini ishlatish” kafedrasiga assistentlik lavozimiga ishga qabul qilingan. 2013 yil institutda bajarilayotgan Evropa Ittifoqining xalqaro Tempus loyihasi boʻyicha Shvesiyaning Qirollik texnologiya institutida, 2014 yil mart oyida Buyuk Britaniyaning Lids universitetida seminar-treningda qatnashdi va oʻz malakasini oshirib qaytdi.
Djiyanbaev S.V. 2014 yil Oʻzbekiston Respublikasi Vazirlar Mahkamasi huzuridagi “Fan va texnologiyalarni rivojlantirishni muvofiqlashtirish qoʻmitasi” hamda Jizzax viloyati xududiy innovasiya faoliyati va texnologiyalar transferi markazi tamonidan I-2014-7-10«Yogʻ- moy sanoati ikkilamchi chiqindilaridan foydalanib, surkov moylarini olish texnologiyasi” mavzusidagi 2014-2015 yillar uchun moʻljallanganinnovasion loyihasining mas'ul bajaruvchisi hisoblanadi.
2014 yilOʻzbekiston Respublikasi oliy va oʻrta maxsus ta'lim vazirligi, Oʻzbekiston Respublikasi Kasaba Uyushmasi, Oʻzbekiston Respublikasi savdo-sanoat palatasi, “Kamolot” yoshlar ijtimoiy harakati tomonidan tashkil etilgan “Yilning eng yosh mutaxassisi” Respublika koʻrik tanlovida Jizzaxviloyati boʻyicha 1 oʻrinni yorliq bilan taqdirlangan. Mazkur tanlovning Respublika miqiyosida qatnashib, “Yilning eng yosh bilimdoni” nominasiyasi gʻolibi boʻldi va diplom bilan taqdirlangan.
U 2015 yil ilmiy faoliyatini davom ettirish maqsadida Oʻzbekiston Respublikasi Fanlar Akademiyasi Umumiy va noorganik kimyo institutiga doktoranturaga maqsadli oʻqishga qabul qilindi.
2015 yil Oʻzbekiston Fanlar Akademiyasi umumiy va noorganik kimyo institutiga katta ilmiy xodim izlanuvchi lavozimiga qabul qilingan. texnika fanlari doktori, professor B.N. Hamidov rahbarligida “Neft va gaz kimyosi va texnologiyasi” yoʻnalishida ilmiy izlanishlar olib bormoqda.
2015 yil mart oyida Tempus dasturi boʻyicha Gruziyaning Akaki Seriteli universitetida va shu yili Ispaniyaning Madrid texnologiya universitetida malakasini oshirgan.
Oʻz FA umumiy va noorganik kimyo instituti “Yosh olimlar” kengashining a'zosi hisoblanadi.
2016 yil “Neft va gaz” milliy xolding kompaniyasi tomonidan oʻtkazilgan Respublika miqiyosida oʻtkazilgan ma'ruzalar tanlovida fahrli 3-oʻrinni egallab, Diplom bilan taqdirlangan.
2017 yil “Innovasion gʻoyalar” Respublika koʻrik tanlovida Faxrli 2 oʻrinni egallab, Maxsus Diplom bilan taqdirlangan.
U ilmiy faoliyati davrida 2 ta oʻquv qoʻllanma, 20 ta oʻquv uslubiy koʻrsatmalar ishlab chiqqan. Ilmiy amaliy anjumanlarda 21 ta va ilmiy jurnallarda 14 dan ortiq maqolalari chop etilgan.
Fargʻona neftni qayta ishlash zavodida surkov moyini olish uchun maxsus qurilma yaratgan. Ushbu ishlanmaga mualliflik qilgan.
2015 yil  Oʻzbekiston Respublikasi Vazirlar Mahkamasi huzuridagi Fan va texnologiyalarni rivojlantirishni muvofiqlashtirish qoʻmitasi, Jizzax viloyati hokimligi hamda Hududiy innovasiya faoliyati va texnologiyalar transferi markazi “Innovasion gʻoyalar, texnologiyalar va loyihalar VIII Respublika yarmarkasi” doirasida oʻtkazilgan “Innovasion ishlanmalar koʻrgazmasi” da “Eng yaxshi innovasion ishlanma muallifi” deb e'tirof etildi. Hamda Respublika “Innovasion gʻoyalar, texnologiyalar va loyihalar” yarmarkasida muntazam qatnashib keladi.
Ushbu «Maxalliy xomashyolardan foydalanib, surkov moylarini olish texnologiyasini ishlab chikish» mavzusidagi ilmiy texnik loyixa surkov moylarini tayyorlash uchun moʻljallangan boʻlib, resurs tejamkor va elektr energiyasini kam sarflashi bilan ilmiy isbotlangan. Ushbu jarayon uchun texnologik kurilma tayyorlangan bulib, neftning ikkilamchi maxsulotlari asosida yangi tarkibli  surkov moylarini tez va oson tayyorlash uchun moʻljallangan.
Oʻzbekiston Respublikasi Prezidentining 2016 yil  26 dekabrdagi №PQ-2698  “2017-2019 yillarda tayyor mahsulotlar, butlovchi buyumlar va materiallar ishlab chiqarishni mahalliylashtirish dasturi toʻgʻrisida”gi qaroriga binoan 2017-2019 yillarda 95% ushbu loyixa asosida olingan maxsulotni amaliyotga joriy etish buyicha vazifalar belgilab berilgan:
2017 yilda “Oʻzbekiston temir yoʻllari” uchun shartnoma boʻyicha 7 tonna ishlab chiqarish 50% mahalliylashtirish;
2018 yilda transport tarmoqlari uchun 30 tonna ishlab
chiqarish 95,7 % mahalliylashtirish
2019 yilda transport tarmoqlari uchun 40 tonna ishlab chiqarish; 95,7% mahalliylashtirish
Hozirda vaktda ushbu loyixa natijasiga kura, Fargʻona neftni qayta ishlash zavodida ushbu loyiha amaliyotga joriy etish sifatida qabul qilingan va ushbu texnologiyani zavodda joriy etish ishlari olib borilmokda.
Ushbu loyixa uchun texnologik reglament, loyixa pasporti yaratilgan xam uni amaliyotga tadbiq etish uchun 250 mln.soʻm mablag ajratilgan.
2022 yilda “Intras” loihasi bo`yicha Avstriya davlatida bo`lib yetuk va tajribali mutaxasislar bilan birgalikda nufuzli konferensiyalarda ishtirok etdi.
Malaka oshirish
t.f.f.d. Djiyanbaev S.V. tomonidan oʻquv dasturlarini ilgʻor xorijiy tajribani inobatga olib takomillashtirilgan holda kayta ishlab chiqish va belgilangan tartibda zamonaviylashtirish borasida Evropa Ittifoqining ERASMUS+ dasturida “INTRAS” loyihasi doirasida Jizzax politexnika institutida a'zo hisoblanadi. Ushbu grant asosida Yangi magistatura mutaxasissligi ochilish rejalashtirilgan. Oʻquv jarayoniga ilgʻor pegogik va axborot  texnologiyalarni tadbiq etish samaradorligi yanada oshirish maqsadida 13 200 evrolik (131 000 000 million soʻmlik) 7 turdagi yangi laboratoriya jihozlari keltirilgan.
t.f.f.d. Djiyanbaev S.V. Evropa Ittifokining 3 ta universiteti bilan hamkorlikni yoʻlga qoʻygan holda Polshaning Gdans universiteti, Avstriya davlatining Alpen Adra universiteti va Slovakiyaning Jilin universtitutlari malaka oshirigan va maxsus sertifikat bilan taqdirlangan.
Shvesiyaning Qirollik texnologiya universiteti-2013 yil
Buyuk Britaniyaning Lids universiteti-2014yil
Ispaniyaning Madrid texnologiya universiteti-2015 yil
Davlat ilmiy-texnik loyihalarining faoliyati natijasi
Oʻtadigan fanlari (oxirgi uch oʻquv yilida)
Intellektual transport tizimlari, Logistikada axborot texnologiyalari va intellectual tizimlari, Multmodal tashuvlarni boshqarish, Avtomobillarga texnik xizmat koʻrsatishni sertifikatlashtirish va lisenziyalashtirish.

            </p>
         
        </div>
    </div>
</div>



{% endblock content %}




