{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Texnikumlar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/qabul-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-md-9">
                    <main id="content" class="content-style">
                            <article id="post-28606" class="post-28606 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Texnikumlar</h1>                             
                                </div>
                                <div class="entry-content">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a class="bnt bnt-primary" style="text-decoration:none; tetx-align:center;" href="#home" data-toggle="tab">Ro‘yxatdan o‘tish</a></li>
                                                <li><a class="bnt bnt-primary" style="text-decoration:none; tetx-align:center;" href="#menu01" data-toggle="tab">Komissiya tarkibi</a></li>
                                                <li><a class="bnt bnt-primary" style="text-decoration:none; tetx-align:center;" href="#menu1" data-toggle="tab">Buyruq</a></li>
                                                <li><a class="bnt bnt-primary" style="text-decoration:none; tetx-align:center;" href="#menu2" data-toggle="tab">Nizom</a></li>
                                                <li><a class="bnt bnt-primary" style="text-decoration:none; tetx-align:center;" href="#menu3" data-toggle="tab">ta’lim yo’nalishlari ro’yxati</a></li>
                                                <li><a class="bnt bnt-primary" style="text-decoration:none; tetx-align:center;" href="#menu4" data-toggle="tab">Baholash mezoni</a></li>
                                                <li><a class="bnt bnt-primary" style="text-decoration:none; tetx-align:center;" href="#menu5" data-toggle="tab">Namunaviy suhbat savollari</a></li>
                                                <li><a class="bnt bnt-primary" style="text-decoration:none; tetx-align:center;" href="#menu6" data-toggle="tab">Suhbatdan o’tish jadvallari</a></li>
                                            </ul>
                                                <h3><a class="a-link" id="menu01" href="https://docs.google.com/document/d/1XAWMaFosykhbZMrSO4vN2lzICLzypLpB/edit">Komissiya tarkibi</a></h3>
                                                <h3><a class="a-link" id="menu1" href="https://drive.google.com/file/d/1JhUj4WdVJFGHm7mqPAn1UqOlBZapyM6j/view?usp=sharing">Nizom yuklab olish</a></h3>
                                                <h3><a class="a-link" id="menu2" href="https://drive.google.com/file/d/1G5Kp3QtjC09UKgtXvnz2EcXxuuI8t0RE/view?usp=sharing">Buyruq yuklab olish</a></h3>
                                                <h3><a class="a-link" id="menu3" href="https://docs.google.com/document/d/17m6HdZ0UMFuxIaZLEIf5NA1M0dmQjZNF/edit">Ta’lim yo’nalishlari ro’yxati yuklab olish</a></h3>
                                                <h3><a class="a-link" id="menu4" href="https://docs.google.com/document/d/1VCLY3nwSmwn5aD8qs76UmPhLNN9PWUEb/edit#heading=h.gjdgxs">Baholash mezoni yuklab olish</a></h3>
                                                <h3><a class="a-link" id="menu5" href="https://docs.google.com/document/d/1azxqe2jRn3dY12M4w2zUted2dPn5VhDG/edit">Namunaviy savollar toplami yuklab olish</a></h3>
                                                <h3><a class="a-link" id="menu6" href="https://docs.google.com/document/d/1u3GA3oPDE--r6KfcxS8xnxHVHSbNWdC8/edit#heading=h.gjdgxs">Suhbatdan o’tish jadvallari yuklab olish</a></h3>
                                </div>
                            </article>
                    </main><!----content-style---->
                </div>




                


            </div>
        </div>
    </div>
</div>



{% endblock content %}