{% load i18n %}

<div class="card-box_left">
    <a href="{% url "pageMF1" %}" class="btn">{% blocktrans %}Shartnoma to’lovlari{% endblocktrans %}</a>
    <a href="{% url "pageMF2" %}" class="btn">{% blocktrans %}Bitiruvchilar monitoringi{% endblocktrans %}</a>
    <a href="{% url "pageMF3" %}" class="btn">{% blocktrans %}Ijtimoiy muhofaza{% endblocktrans %}</a>
    <a href="{% url "pageMF4" %}" class="btn">{% blocktrans %}Moliyaviy hisobotlar{% endblocktrans %}</a>
    <a href="{% url "pageMF5" %}" class="btn">{% blocktrans %}Moliyaviy shartnomalar{% endblocktrans %}</a>
    <a href="{% url "pageMF6" %}" class="btn">{% blocktrans %}Moliyaviy ko’rsatkichlar{% endblocktrans %}</a>
    <a href="{% url "pageMF7" %}" class="btn">{% blocktrans %}Xizmat avtomototransport vositalari, xizmat uylari va boshqa ko’chmas mulk obyektlari{% endblocktrans %}</a>
</div>