{% load i18n %}

<div class="card-box_left">
    <a href="{% url "pageXF1" %}" class="btn">{% blocktrans %}Xalqaro hamkorlik aloqalari{% endblocktrans %}</a>
    <a href="{% url "pageXF2" %}" class="btn">{% blocktrans %}Xorijiy malaka oshirish va ta’lim{% endblocktrans %}</a>
    <a href="{% url "pageXF3" %}" class="btn">{% blocktrans %}Xalqaro konferensiyalar{% endblocktrans %}</a>
    <a href="{% url "pageXF4" %}" class="btn">{% blocktrans %}Xalqaro loyihalar va grantlar{% endblocktrans %}</a>
    <a href="{% url "pageXF5" %}" class="btn">{% blocktrans %}Chet ellik talabalar uchun{% endblocktrans %}</a>
    <a href="{% url "pageXF6" %}" class="btn">{% blocktrans %}Kontaktlar{% endblocktrans %}</a>
</div>