{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
     <!-- Son'gi yangiliklar -->
     <section class="block news container" id="news">
      <div class="top-text">
          <div>
              <h3 class='news-h3'>{% blocktrans %}Axborot Xizmati{% endblocktrans %}</h3>
              <div class="line-b"></div>
          </div>
          <div class="line"></div>
      </div>

      <div class="nav-news mt-4">
        <center><h3>Axborot Xizmati bilan bog'lanish</h3></center>


      </div>
  </section>


{% endblock content %}


