{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>{% blocktrans %}Trigger{% endblocktrans %}</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "erasmus/trigger/trigger-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
         
                <div style="display:flex; flex-direction: row; justify-content: space-evenly; margin:10px 0">
                  <h5>P07 JIZPI D1.2-FINAL</h5> 
                  <p><a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/uzb/P07 JIZPI D1.2-FINAL UZB.pdf" class="grand-link">O'zbek tilida</a></p>
                  <p><a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/eng/P07 JIZPI D1.2-FINAL.pdf" class="grand-link">English</a></p>
                </div>
                
                
                <div style="display:flex; flex-direction: row; justify-content: space-evenly; margin:10px 0">
                  <h5>P07 JIZPI WP2-D2.1 V5-FINAL</h5> 
                  <p><a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/uzb/P07 JIZPI WP2-D2.1 V5-FINAL UZB.pdf" class="grand-link">O'zbek tilida</a></p>
                  <p><a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/eng/P07 JIZPI WP2-D2.1 V5-FINAL.pdf" class="grand-link">English</a></p>
                </div>
                
                
                 <div style="display:flex; flex-direction: row; justify-content: space-evenly; margin:10px 0">
                  <h5>P07 JIZPI WP2-D2.2 V3-FINAL</h5> 
                  <p><a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/uzb/P07 JIZPI WP2-D2.2 V3-FINAL UZB.pdf" class="grand-link">O'zbek tilida</a></p>
                  <p><a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/eng/P07 JIZPI WP2-D2.2 V3-FINAL.pdf" class="grand-link">English</a></p>
                </div>
                
                
                <div style="display:flex; flex-direction: row; justify-content: space-evenly; margin:10px 0">
                  <h5>P07 JIZPI-D3.1-FINAL</h5> 
                  <p><a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/uzb/P07 JIZPI-D3.1-FINAL UZB.pdf" class="grand-link">O'zbek tilida</a></p>
                  <p><a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/eng/P07 JIZPI-D3.1-FINAL.pdf" class="grand-link">English</a></p>
                </div>
            
                
                <div style="display:flex;margin:0px">
                  <h5>P07 JIZPI D3.2 Guideline</h5> 
                  <p><a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/uzb/P07 JIZPI D3.2 Guideline UZB.pdf" class="grand-link">O'zbek tilida</a></p>
                  <p><a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/eng/P07 JIZPI D3.2 Guideline.pdf" class="grand-link">English</a></p>
                </div>
             
             
                <div style="margin:0px">
                  <h5>P07 JIZPI D3.3 Roadmap</h5> <br>
                  <p><a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/uzb/P07 JIZPI D3.3 Roadmap UZB.pdf" class="grand-link">O'zbek tilida</a></p>
                  <p><a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/eng/P07 JIZPI D3.3 Roadmap.pdf" class="grand-link">English</a></p>
                </div>
                
          
                <div style="display:block; margin:0px">
                  <a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/uzb/FINAL REPORT_IMPACT.docx" class="grand-link">FINAL REPORT_IMPACT</a>
                  <a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/uzb/P07 JIZPI FINAL REPORT.docx" class="grand-link">P07 JIZPI FINAL REPORT</a>    
                  <a style="padding: 0 !important; margin:0 !important;" href="../../../static/upload/xal_faol/uzb/P07 JIZPI Project Relevance.docx" class="grand-link">P07 JIZPI Project Relevance</a>
                </div>
          
                
            
            
            
            
            
      
        </div>
    </div>
</div>



{% endblock content %}