{% load i18n %}

<div class="card-box_left">
    <a href="{% url "pageIF1" %}" class="btn">{% blocktrans %}Ilm-fan-2024{% endblocktrans %}</a>
    <a href="{% url "pageIF2" %}" class="btn">{% blocktrans %}Nomzodlik imtihonlari{% endblocktrans %}</a>
    <a href="{% url "pageIF3" %}" class="btn">{% blocktrans %}Ilmiy tadbirlar{% endblocktrans %}</a>
    <a href="{% url "pageIF4" %}" class="btn">{% blocktrans %}Ilmiy nashrlar{% endblocktrans %}</a>
    <a href="{% url "pageIF5" %}" class="btn">{% blocktrans %}Yosh ekspertlar guruhi{% endblocktrans %}</a>
    <a href="{% url "pageIF6" %}" class="btn">{% blocktrans %}Konferensiyalar{% endblocktrans %}</a>
    <a href="{% url "pageIF7" %}" class="btn">{% blocktrans %}Istiqboldagi rejalar{% endblocktrans %}</a>
    <a href="{% url "pageIF8" %}" class="btn">{% blocktrans %}Ilmiy tatqiqot faoliyati{% endblocktrans %}</a>
    <a href="{% url "pageIF9" %}" class="btn">{% blocktrans %}Ilmiy tadqiqot yo’nalishlari{% endblocktrans %}</a>
    <a href="{% url "pageIF11" %}" class="btn">{% blocktrans %}Hujjatlar to’plami{% endblocktrans %}</a>
    <a href="{% url "pageIF12" %}" class="btn">{% blocktrans %}Ustoz-shogird maktabi{% endblocktrans %}</a>
    <a href="{% url "pageIF13" %}" class="btn">{% blocktrans %}Innovatsion dastur{% endblocktrans %}</a>
    <a href="{% url "pageIF14" %}" class="btn">{% blocktrans %}Innovatsion loyihalar{% endblocktrans %}</a>
    <a href="{% url "pageIF15" %}" class="btn">{% blocktrans %}Bitiruvchilar klubi{% endblocktrans %}</a>
    <a href="{% url "pageIF16" %}" class="btn">{% blocktrans %}Ilmiy e’lonlar{% endblocktrans %}</a>
    <a href="{% url "pageIF17" %}" class="btn">{% blocktrans %}«Yoshlar ovozi» gazetasi{% endblocktrans %}</a>
</div>