{% load i18n %}

<div class="card-box_left">
    <a href="{% url "pageBak1" %}" class="btn">{% blocktrans %}Abituriyentga eslatma! {% endblocktrans %}</a>
    <a href="{% url "pageBak2" %}" class="btn">{% blocktrans %}Qabul nizomlari{% endblocktrans %}</a>
    <a href="{% url "pageBak3" %}" class="btn">{% blocktrans %}Qabul kvotasi{% endblocktrans %}</a>
    <a href="{% url "pageBak4" %}" class="btn">{% blocktrans %}Hujjatlar to’plami{% endblocktrans %}</a>
    <a href="{% url "pageBak5" %}" class="btn">{% blocktrans %}Fanlar ro’yxati{% endblocktrans %}</a>
    <a href="{% url "pageBak6" %}" class="btn">{% blocktrans %}Qabul komissiyasi{% endblocktrans %}</a>
    {% comment %} <a href="{% url "pageBak7" %}" class="btn">O’tish ballari 2018-2019</a> {% endcomment %}
    <a href="{% url "pageBak8" %}" class="btn">{% blocktrans %}Biz bilan bog’lanish{% endblocktrans %}</a>
</div>