{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bakalavr</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/bakalavr/bakalavr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-2579" class="post-2579 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Fanlar ro’yxati</h1>                             </div>
                                <div class="entry-content">
                                                                    <p><strong>Jizzax politexnika institutining bakalavriat ta?lim yo?nalishlariga
2024-2025  o?quv yili uchun mos test sinovi topshiriladigan fanlar majmuasi, test topshiriqlari soni hamda baxolash mezonlari </p>
    <p><strong><em>&nbsp;</em></strong>I.Test sinovi topshiriladigan fanlar bo‘yicha test topshiriqlari soni va baxolash mezonlari</p>
    <p><strong>&nbsp;</strong></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td width="173">Fanlar nomi</td>
    <td width="173">Test topshiriqlari soni</td>
    <td width="173">Baxolash mezonlari</td>
    <td width="173">Maksimal ball</td>
    </tr>
    <tr>
    <td colspan="4" width="693">Barcha test topshiruvchilar uchun majburiy uchta fan bo‘yicha</td>
    </tr>
    <tr>
    <td width="173">Ona tili<p></p>
    <p>(o‘zbek, rus, qoraqalpoq va boshqa tillar</p></td>
    <td width="173">10</td>
    <td width="173">1,1</td>
    <td width="173">11,0</td>
    </tr>
    <tr>
    <td width="173">Matematika</td>
    <td width="173">10</td>
    <td width="173">1,1</td>
    <td width="173">11,0</td>
    </tr>
    <tr>
    <td width="173">O‘zbekiston tarixi</td>
    <td width="173">10</td>
    <td width="173">1,1</td>
    <td width="173">11,0</td>
    </tr>
    <tr>
    <td width="173"><strong>Jami:</strong></td>
    <td width="173"><strong>30</strong></td>
    <td width="173"><strong>&nbsp;</strong></td>
    <td width="173"><strong>33,0</strong></td>
    </tr>
    <tr>
    <td colspan="4" width="693"><strong><em>Bakalavriat ta’lim yo‘nalishiga mos ikkita fan bo‘yicha</em></strong></td>
    </tr>
    <tr>
    <td width="173">1-fan</td>
    <td width="173">30</td>
    <td width="173">3,1</td>
    <td width="173">93,0</td>
    </tr>
    <tr>
    <td width="173">2-fan</td>
    <td width="173">30</td>
    <td width="173">2,1</td>
    <td width="173">63</td>
    </tr>
    <tr>
    <td width="173"><strong>jami</strong></td>
    <td width="173"><strong>60</strong></td>
    <td width="173"><strong>&nbsp;</strong></td>
    <td width="173"><strong>156,0</strong></td>
    </tr>
    <tr>
    <td width="173"><strong>5 ta fan bo‘yicha jami:</strong></td>
    <td width="173"><strong>90</strong></td>
    <td width="173"><strong>&nbsp;</strong></td>
    <td width="173"><strong>189,0</strong></td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
    <p><strong>II.Bakalavriat ta’lim yo‘nalishlari ro‘yxati va ularga mos test sinovi (kasbiy (ijodiy) imtixon) topshiriladigan fanlar majmuasi</strong></p>
    <p><strong>&nbsp;</strong></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td width="45"><strong>T/R</strong></td>
    <td width="85"><strong>Tanlov kodi</strong></td>
    <td width="369"><strong>&nbsp;</strong><p></p>
    <p><strong>Bakalaviat ta’lim yo‘nalishi nomi</strong></p></td>
    <td width="104"><strong>1-fan</strong></td>
    <td width="94"><strong>2-fan</strong></td>
    </tr>
    <tr>
    <td width="45">1</td>
    <td width="85">60410100</td>
    <td width="369">Iqtisodiyot</td>
    <td width="104">Matematika</td>
    <td width="94">Chet tili</td>
    </tr>
    <tr>
    <td width="45">2</td>
    <td width="85">60410200</td>
    <td width="369">Buxgalteriya hisobi</td>
    <td width="104">Matematika</td>
    <td width="94">Chet tili</td>
    </tr>
    <tr>
    <td width="45">3</td>
    <td width="85">60410800</td>
    <td width="369">Menejment</td>
    <td width="104">Matematika</td>
    <td width="94">Chet tili</td>
    </tr>
    <tr>
    <td width="45">4</td>
    <td width="85">60520200</td>
    <td width="369">Ekologiya va atrof-muhit muhofazasi</td>
    <td width="104">Kimyo</td>
    <td width="94">Biologiya</td>
    </tr>
    <tr>
    <td width="45">5</td>
    <td width="85">60610300</td>
    <td width="369">Kompyuter injiniringi</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">6</td>
    <td width="85">60610900</td>
    <td width="369">Radioelektron qurilmalar va tizimlar</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">7</td>
    <td width="85">60710100</td>
    <td width="369">Kimyo muhandisligi</td>
    <td width="104">Kimyo</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">8</td>
    <td width="85">60710400</td>
    <td width="369">Energetika muhandisligi</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">9</td>
    <td width="85">60710500</td>
    <td width="369">Elektr muhandisligi</td>
    <td width="104">Fizika</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">10</td>
    <td width="85">60710700</td>
    <td width="369">Elektronika va asbobsozlik</td>
    <td width="104">Fizika</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">11</td>
    <td width="85">60710800</td>
    <td width="369">Metrologiya va standartlashtirish</td>
    <td width="104">Fizika</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">12</td>
    <td width="85">60711000</td>
    <td width="369">Mexatronika va robototexnika</td>
    <td width="104">Fizika</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">13</td>
    <td width="85">60711200</td>
    <td width="369">Metallurgiya muhandisligi</td>
    <td width="104">Kimyo</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">14</td>
    <td width="85">60711400</td>
    <td width="369">Transport vositalari muhandisligi</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">15</td>
    <td width="85">60712100</td>
    <td width="369">Qayta tiklanuvchi energiya manbaalari</td>
    <td width="104">Fizika</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">16</td>
    <td width="85">60712300</td>
    <td width="369">Mexanika muxandisligi</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">17</td>
    <td width="85">60720100</td>
    <td width="369">Oziq-ovqat texnologiyasi</td>
    <td width="104">Kimyo</td>
    <td width="94">Biologiya</td>
    </tr>
    <tr>
    <td width="45">18</td>
    <td width="85">60720300</td>
    <td width="369">Materialshunoslik</td>
    <td width="104">Kimyo</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">19</td>
    <td width="85">60720400</td>
    <td width="369">Texnologik mashinalar va jihozlar</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">20</td>
    <td width="85">60720700</td>
    <td width="369">Yengil sanoat muhandisligi</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">21</td>
    <td width="85">60721700</td>
    <td width="369">Kadastr</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">22</td>
    <td width="85">60730100</td>
    <td width="369">Arxitektura </td>
    <td width="104">Matematika</td>
    <td width="94">Ona tili</td>
    </tr>
    <tr>
    <td width="45">23</td>
    <td width="85">60730300</td>
    <td width="369">Qurilish muhandisligi</td>
    <td width="104">&nbsp;Matematika</td>
    <td width="94">&nbsp;Fizika</td>
    </tr>
    <tr>
    <td width="45">24</td>
    <td width="85">60730400</td>
    <td width="369">Muhandislik kommunikatsiyalari qurilish va ekspluatatsiyasi</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">25</td>
    <td width="85">60730500</td>
    <td width="369">Yo?l muhandisligi</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">26</td>
    <td width="85">60730900</td>
    <td width="369">Shahar qurilishi va loyixalash</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">27</td>
    <td width="85">60810100</td>
    <td width="369">Qishloq xo?jaligini mexanizatsiyalashtirish</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">28</td>
    <td width="85">60810700</td>
    <td width="369">Qishloq xo?jalik mahsulotlarini saqlash va qayta ishlash texnologiyasi</td>
    <td width="104">Kimyo</td>
    <td width="94">Biologiya</td>
    </tr>
    <tr>
    <td width="45">29</td>
    <td width="85">60811000</td>
    <td width="369">Meva-sabzavotchilik va uzumchilik</td>
    <td width="104">Biologiya</td>
    <td width="94">Kimyo</td>
    </tr>
    <tr>
    <td width="45">30</td>
    <td width="85">61010400</td>
    <td width="369">Logistika</td>
    <td width="104">Matematika</td>
    <td width="94">Chet tili</td>
    </tr>
    <tr>
    <td width="45">31</td>
    <td width="85">61020200</td>
    <td width="369">Mehnat muhofazasi va texnika xavfsizligi</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">32</td>
    <td width="85">61040200</td>
    <td width="369">Yo?l harakatini tashkil etish</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>

    </tbody>
    </table>
    <p>&nbsp;</p>

                                        <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>

                
            </div>
        </div>
    </div>
</div>



{% endblock content %}