{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Magistratura</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/magistr/__magistr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-3592" class="post-3592 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Qabul komissiyasi</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Jizzax politexnika instituti 2024-2025 o`quv yili qabul komissiyasi a’zolarining</strong></p>
    <p style="text-align: center;"><strong>TARKIBI</strong></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td style="text-align: center;" width="36"><strong>T/r</strong></td>
    <td style="text-align: center;" width="226"><strong>F.I.SH.</strong></td>
    <td style="text-align: center;" width="381"><strong>Lavozimi, qabul komissiyasidagi vazifasi</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">1</td>
    <td width="226">Usmankulov Alisher Kadirkulovich</td>
    <td width="381">Rektor , qabul komissiyasi raisi</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">2</td>
    <td width="226"><strong>Nasriddinov Jasur Islomovich</strong></td>
    <td width="381">O‘quv ishlari bo‘yicha prorektor v.b, qabul komissiyasi raisining muovini.</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">3</td>
    <td width="226"><strong>Mirzabekov Mirkomil Saydaxmatovich</strong></td>
    <td width="381"> Qurilish materiallari va kimyoviy texnologiya fakulteti dekani, qabul komissiyasi mas’ul kotibi.</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">4</td>
    <td width="226">Abdunazarov Jamshid Nurmuhammadovich</td>
    <td width="381">Ilmiy ishlar va innovatsiyalar bo‘yicha prorektor;
- Xorijiy oliy ta’lim muassasalari bilan qo‘shma ta’lim dasturlarini muvofiqlashtiruvchi bo‘lim 2+2 dasturlari asosida bakalavrlar qabuli bo‘yicha mas’ul, a’zo</td>
    </tr>
    
    <tr>
    <td style="text-align: center;" width="36">5</td>
    <td width="226">Eshbekova Sanobar Omonlikovna</td>
    <td width="381">Yoshlar masalalari va ma’naviy-ma’rifiy ishlar bo‘yicha birinchi prorektor;
- Ko‘zi ojizlar toifasiga kiruvchi abituriyentlarning kirish imtihonlarini o‘tkazish bo‘yicha ma’sul, a’zo
</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">6</td>
    <td width="226">Xaitov Xasan Qodirovich</td>
    <td width="381">Korrupsiyaga qarshi kurashish Komplayens-nazorat tizimini boshqarish bo‘limi boshlig‘i, a’zo.</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">7</td>
    <td width="226">Axmedov Jo‘rabek Raxmonberdiyevich</td>
    <td width="381">Sirtqi bo‘lim boshlig‘i;
- Qabul komissiyasi mas’ul kotibining bakalavriatura sirtqi bo‘lim bo‘yicha o‘rinbosari, a’zo.</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">8</td>
    <td width="226">Ibragimov Jaxongir Ko‘chimovich</td>
    <td width="381">Magistratura bo‘limi boshlig‘i;
- Qabul komissiyasi mas’ul kotibining magistratura bo‘yicha o‘rinbosari. a’zo.</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">9</td>
    <td width="226">Egamberdiyev Fazliddin Otaqulovich</td>
    <td width="381">“Tabiiy tolalar va matoga ishlov berish” kafedrasi mudiri;
- Institutda ikkinchi oliy ta’lim hujjatlarini qabul qilish bo'yicha mas’ul. a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">10</td>
    <td width="226">Hamidov Jalil Abdurasulovich</td>
    <td width="381">Servis fakulteti dekani;
- Iqtisodiyot tarmoqlarida kamida besh yil ish stajiga ega bo‘lgan fuqarolarning qabuli bo‘yicha mas’ul, a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">11</td>
    <td width="226">Egamberdiyev Fazliddin Otaqulovich</td>
    <td width="381">– Kafedra mudiri,&nbsp;&nbsp; Institutda ikkinchi oliy ta’lim hujjatlarini qabul qilish bo`yicha mas’ul</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">12</td>
    <td width="226">G‘aybullayev Bobur Jo‘raboy o‘g‘li</td>
    <td width="381">Xodimlar bo‘limi boshlig‘i;
- Talabalarni o‘qishini ko‘chirish va qayta tiklash bo‘yicha mas’ul, hamda abituriyentlar va ularning ota-onalari bilan suhbat o‘tkazish bo‘yicha ma’sul. a’zo.</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">13</td>
    <td width="226">Djamolov O‘tkir Ilxomovich</td>
    <td width="381">Raqamli ta’lim texnologiyalari markazi boshlig‘i;
-Fuqaroligi bo‘lmagan shaxslarni institutga hujjatlarini rasmiylashtirish bo‘yicha mas’ul, a’zo.</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">14</td>
    <td width="226">Berdikulov Azzam Mardonovich</td>
    <td width="381">Arxitektura va qurilish fakulteti dekani, a’zo.</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">15</td>
    <td width="226">Abbazov Ilxom Zaripovich</td>
    <td width="381">Sanoat texnologiyasi fakulteti dekani, a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">16</td>
    <td width="226">Pardaev Obid Rahimboboyevich</td>
    <td width="381">Energetika va radioelektronika dekani, a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">17</td>
    <td width="226">Jiyanbayev Sirojiddin</td>
    <td width="381">Transport fakulteti dekani, a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">18</td>
    <td width="226">Berdiqulov Sirojiddin Xasanovich</td>
    <td width="381">Bosh hisobchi;
-Tavsiya etilgan abituriyentlarga shartnomalarni rasmiylashtirish </td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">19</td>
    <td width="226">Misirov O’tkir Botirovich</td>
    <td width="381">Moliya - iqtisod ishlari bo‘yicha prorektor v.b, a’zo.</td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>  
            </div>
        </div>
    </div>
</div>



{% endblock content %}