{% load i18n %}
<div class="card-box_left">
    <a href="{% url "pageOF1" %}" class="btn">{% blocktrans %}O’quv grafigi{% endblocktrans %}</a>
    <a href="{% url "pageOF2" %}" class="btn">{% blocktrans %}O’quv rejalari{% endblocktrans %}</a>
    <a href="{% url "pageOF3" %}" class="btn">{% blocktrans %}O’quv qoidalari{% endblocktrans %}</a>
    <a href="{% url "pageOF4" %}" class="btn">{% blocktrans %}Vakant lavozimlar{% endblocktrans %}</a>
    <a href="{% url "pageOF5" %}" class="btn">{% blocktrans %}Malaka talablari{% endblocktrans %}</a>
</div>