{% load i18n %}

<a href="{% url "mh-page-1" %}" class="btn">{% blocktrans %}Prezident Qarorlari{% endblocktrans %}</a>
<a href="{% url "mh-page-2" %}" class="btn">{% blocktrans %}Prezident Farmonlari{% endblocktrans %}</a>
<a href="{% url "mh-page-3" %}" class="btn">{% blocktrans %}Vazirlik Buyruqlari{% endblocktrans %}</a>
<a href="{% url "mh-page-4" %}" class="btn">{% blocktrans %}Adliya Qarorlari{% endblocktrans %}</a>
<a href="{% url "mh-page-5" %}" class="btn">{% blocktrans %}Hukumat Qarorlari{% endblocktrans %}</a>
<a href="{% url "mh-page-6" %}" class="btn">{% blocktrans %}Hukumat Dasturlari{% endblocktrans %}</a>
<a href="{% url "mh-page-7" %}" class="btn">{% blocktrans %}Institut Buyruqlari{% endblocktrans %}</a>
<a href="{% url "mh-page-8" %}" class="btn">{% blocktrans %}Klassifikatorlar{% endblocktrans %}</a>