{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>{% blocktrans %}Vasiylik Kengashi{% endblocktrans %}</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "institut/__vasiylik_copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <a href="{% url "namunaviy-nizom" %}" class="btn">{% blocktrans %}Namunaviy Nizomi{% endblocktrans %}</a>
                <a href="{% url "vasiylik-kt" %}" class="btn">{% blocktrans %}Vasiylik kengashi Tarkibi{% endblocktrans %}</a>
            </div>
        </div>
    </div>
</div>



{% endblock content %}