{% load i18n %}

<a href="{% url "OTM-kengash" %}" class="btn">{% blocktrans %}OTM Kengashi{% endblocktrans %}</a>
<a href="{% url "vasiylik" %}" class="btn">{% blocktrans %}Vasiylik Kengashi{% endblocktrans %}</a>
<a href="{% url "yoshOlimlar" %}" class="btn">{% blocktrans %}Yosh Olimlar Kengashi{% endblocktrans %}</a>
<a href="{% url "xotinQizlar" %}" class="btn">{% blocktrans %}Xotin-Qizlar Kengashi{% endblocktrans %}</a>
<a href="{% url "ilmiyKengash" %}" class="btn">{% blocktrans %}Ilmiy Kengash{% endblocktrans %}</a>